# This notebook explores results from the 2018 cycling season

Data<sup>1</sup> include categorized races performed by all riders in World Tour teams<sup>2</sup>. This include 18 teams with a total of 522 riders.
#### The goal is to find features that can predict the winner (maybe top 10 is better) of Tour de France (TdF).  
<sup>1</sup>data is scraped from CQranking  
<sup>2</sup>Pro Continental teams are excluded for now

In [147]:
import pandas as pd
import numpy as np

In [148]:
pd.set_option('max_colwidth', 500)
pd.set_option('display.width', 100)
pd.set_option('display.expand_frame_repr', False)
pd.set_option("display.max_rows", 100)

In [149]:
# @hidden_cell

df_riders = pd.read_csv(r'E:\cycling\scraper\riders_2018.csv',encoding='iso-8859-1')
df_rider_results = pd.read_csv(r'E:\cycling\scraper\rider_results_2018.csv',encoding='iso-8859-1')

In [150]:
df_riders

    team                            Rider Date of birth  rank_start  point_start  rank_end  point_end               Comments Country
0    ALM               BAGDONAS Gediminas    26/12/1985       510.0        140.0     317.0      226.0                    NaN     LTU
1    ALM                    BAKELANTS Jan    14/02/1986       117.0        472.0     565.0      120.0                    NaN     BEL
2    ALM                     BARBIER Rudy    18/12/1992       104.0        506.0     717.0       90.0                    NaN     FRA
3    ALM                    BARDET Romain    09/11/1990        30.0       1162.0      14.0     1492.0                    NaN     FRA
4    ALM                  BIDARD François    19/03/1992       781.0         80.0     523.0      137.0                    NaN     FRA
5    ALM                BOUCHARD Geoffrey    01/04/1992         NaN          NaN    1140.0       42.0  Trainee as from 31/07     FRA
6    ALM              CHAMPOUSSIN Clément    29/05/1998      2949.0          2.0     978.0       55.0  Trainee as from 31/07     FRA
7    ALM                    CHEREL Mikael    17/03/1986       552.0        127.0     492.0      147.0                    NaN     FRA
8    ALM                 CHEVRIER Clément    29/06/1992       844.0         70.0    1416.0       25.0                    NaN     FRA
9    ALM                 COSNEFROY Benoit    17/10/1995       375.0        191.0     311.0      229.0                    NaN     FRA
10   ALM                        DENZ Nico    15/02/1994      1252.0         34.0     264.0      262.0                    NaN     GER
11   ALM                   DILLIER Silvan    03/08/1990        72.0        653.0     121.0      498.0                    NaN     SUI
12   ALM                      DOMONT Axel    07/08/1990       575.0        122.0    1083.0       45.0                    NaN     FRA
13   ALM                  DUMOULIN Samuel    20/08/1980       227.0        284.0     205.0      316.0                    NaN     FRA
14   ALM                    DUPONT Hubert    13/11/1980       339.0        210.0     382.0      185.0                    NaN     FRA
15   ALM                     DUVAL Julien    27/05/1990       988.0         53.0     587.0      117.0                    NaN     FRA
16   ALM                    FRANK Mathias    09/12/1986       156.0        375.0     156.0      398.0                    NaN     SUI
17   ALM                    GALLOPIN Tony    24/05/1988        47.0        903.0     108.0      534.0                    NaN     FRA
18   ALM                     GASTAUER Ben    14/11/1987       414.0        173.0     704.0       92.0                    NaN     LUX
19   ALM                    GAUTIER Cyril    26/09/1987       311.0        224.0     687.0       96.0                    NaN     FRA
20   ALM                 GENIEZ Alexandre    16/04/1988       149.0        395.0     117.0      509.0                    NaN     FRA
21   ALM                  GOUGEARD Alexis    05/03/1993       354.0        203.0     377.0      187.0                    NaN     FRA
22   ALM                 JAUREGUI Quentin    22/04/1994       517.0        138.0     499.0      145.0                    NaN     FRA
23   ALM                    LATOUR Pierre    12/10/1993       124.0        453.0      53.0      810.0                    NaN     FRA
24   ALM                 MONTAGUTI Matteo    06/01/1984       785.0         79.0     809.0       73.0                    NaN     ITA
25   ALM                    NAESEN Oliver    16/09/1990        37.0       1019.0      34.0     1015.0                    NaN     BEL
26   ALM           PARET-PEINTRE Aurélien    27/02/1996      1322.0         30.0    1071.0       47.0     Contract from 1/08     FRA
27   ALM                      PETERS Nans    12/03/1994      1164.0         39.0     452.0      161.0                    NaN     FRA
28   ALM                PRODHOMME Nicolas    01/02/1997         NaN          NaN    1403.0       26.0  Trainee as from 31/07     FRA
29   ALM                VANDENBERGH Stijn    25/04/1984      1145.0         40.0     633.0      105.0                    NaN     BEL
30   ALM                VENTURINI Clément    16/10/1993       165.0        356.0     389.0      183.0                    NaN     FRA
31   ALM                VUILLERMOZ Alexis    01/06/1988        59.0        777.0     139.0      440.0                    NaN     FRA
32   AST   BILBAO LOPEZ DE ARMENTIA Pello    25/02/1990       290.0        237.0      82.0      605.0                    NaN     ESP
33   AST               BIZHIGITOV Zhandos    10/06/1991       672.0        100.0     906.0       62.0                    NaN     KAZ
34   AST                    CATALDO Dario    17/03/1985       369.0        193.0     304.0      231.0                    NaN     ITA
35   AST               CHERNETSKIY Sergey    09/04/1990       232.0        279.0     114.0      517.0                    NaN     RUS
36   AST              CORT NIELSEN Magnus    16/01/1993       112.0        480.0      92.0      581.0                    NaN     DEN
37   AST                DE VREESE Laurens    29/09/1988       569.0        124.0    1117.0       43.0                    NaN     BEL
38   AST                  FOMINYKH Daniil    28/08/1991       917.0         59.0     881.0       64.0                    NaN     KAZ
39   AST            FRAILE MATARRANZ Omar    17/07/1990       257.0        263.0     159.0      395.0                    NaN     ESP
40   AST                   FUGLSANG Jakob    22/03/1985        67.0        703.0      31.0     1045.0                    NaN     DEN
41   AST                      GATTO Oscar    01/01/1985       344.0        208.0     753.0       81.0                    NaN     ITA
42   AST                  GIDICH Yevgeniy    19/05/1996       158.0        371.0     289.0      242.0                    NaN     KAZ
43   AST            GREGAARD WILSLY Jonas    30/07/1996       678.0         99.0    1216.0       36.0  Trainee as from 31/07     DEN
44   AST                    GRIVKO Andriy    07/08/1983       334.0        213.0     195.0      328.0                    NaN     UKR
45   AST                  GRUZDEV Dmitriy    13/03/1986       558.0        126.0    1313.0       30.0                    NaN     KAZ
46   AST                    HANSEN Jesper    23/10/1990       233.0        279.0     396.0      180.0                    NaN     DEN
47   AST                         HIRT Jan    21/01/1991       216.0        302.0     502.0      144.0                    NaN     CZE
48   AST                       HOULE Hugo    27/09/1990       434.0        165.0     252.0      272.0                    NaN     CAN
49   AST                    KANGERT Tanel    11/03/1987       926.0         58.0     243.0      279.0                    NaN     EST
..   ...                              ...           ...         ...          ...       ...        ...                    ...     ...
472  TFS                   DIDIER Laurent    19/07/1984      1301.0         30.0    1127.0       42.0                    NaN     LUX
473  TFS                        EG Niklas    06/01/1995       641.0        107.0     462.0      158.0                    NaN     DEN
474  TFS                    FELLINE Fabio    29/03/1990        64.0        736.0     267.0      257.0                    NaN     ITA
475  TFS                       FRAME Alex    18/06/1993      1095.0         44.0    1044.0       49.0                    NaN     NZL
476  TFS                     GOGL Michael    04/11/1993       483.0        147.0     272.0      254.0                    NaN     AUT
477  TFS         GRMAY Tsgabu Gebremaryam    25/08/1991       385.0        186.0     535.0      133.0                    NaN     ETH
478  TFS  GUERREIRO Ruben Antonio Almeida    06/07/1994       244.0        273.0     120.0      499.0                    NaN     POR
479  TFS           IRIZAR ARANBURU Markel    05/02/1980       849.0         69.0    1158.0       40.0                    NaN     ESP
480  TFS                    MOLLEMA Bauke    26/11/1986        32.0       1129.0      26.0     1105.0                    NaN     NED
481  TFS                 MOSCHETTI Matteo    14/08/1996      2947.0          2.0     503.0      144.0  Trainee as from 31/07     ITA
482  TFS                      MULLEN Ryan    07/08/1994       279.0        245.0     487.0      149.0                    NaN     IRL
483  TFS                  NIZZOLO Giacomo    30/01/1989       864.0         66.0     136.0      444.0                    NaN     ITA
484  TFS          PANTANO GOMEZ Jarlinson    19/11/1988       131.0        436.0     464.0      157.0                    NaN     COL
485  TFS                    PEDERSEN Mads    18/12/1995       114.0        478.0      81.0      606.0                    NaN     DEN
486  TFS                     RAST Gregory    17/01/1980       827.0         72.0     899.0       62.0                    NaN     SUI
487  TFS                     REIJNEN Kiel    01/06/1986       619.0        112.0     798.0       75.0                    NaN     USA
488  TFS                      RIES Michel    11/03/1998      1884.0         12.0     990.0       54.0  Trainee as from 31/07     LUX
489  TFS                     SKUJINS Toms    15/06/1991       379.0        190.0      96.0      575.0                    NaN     LAT
490  TFS                    STETINA Peter    08/08/1987       316.0        220.0     463.0      157.0                    NaN     USA
491  TFS                   STUYVEN Jasper    17/04/1992        34.0       1064.0      20.0     1253.0                    NaN     BEL
492  TFS                   VAN POPPEL Boy    18/01/1988       415.0        173.0     477.0      154.0                    NaN     NED
493  UAD               AIT EL ABDIA Anass    21/03/1993      1045.0         48.0    1478.0       22.0                    NaN     MAR
494  UAD                        ARU Fabio    03/07/1990        22.0       1296.0     154.0      400.0                    NaN     ITA
495  UAD      ATAPUMA HURTADO Jhon Darwin    15/01/1988       210.0        307.0     913.0       61.0                    NaN     COL
496  UAD                   BAGIOLI Andrea    23/03/1999         NaN          NaN     860.0       67.0   Trainee as from 3/08     ITA
497  UAD                      BONO Matteo    11/11/1983      1073.0         45.0     981.0       54.0                    NaN     ITA
498  UAD                BYSTRØM Sven Erik    21/01/1992       418.0        172.0     551.0      126.0                    NaN     NOR
499  UAD                  CONSONNI Simone    12/09/1994       162.0        360.0     230.0      290.0                    NaN     ITA
500  UAD                    CONTI Valerio    30/03/1993       320.0        220.0     383.0      185.0                    NaN     ITA
501  UAD          COSTA Rui Alberto Faria    05/10/1986        42.0        992.0      93.0      578.0                    NaN     POR
502  UAD                  COVI Alessandro    28/09/1998         NaN          NaN    1782.0       15.0   Trainee as from 3/08     ITA
503  UAD                DURASEK Kristijan    26/07/1987       734.0         87.0     516.0      139.0                    NaN     CRO
504  UAD                  FERRARI Roberto    09/03/1983       561.0        125.0     804.0       74.0                    NaN     ITA
505  UAD                    GANNA Filippo    25/07/1996      1129.0         42.0     370.0      190.0                    NaN     ITA
506  UAD               KRISTOFF Alexander    05/07/1987         5.0       1969.0      19.0     1253.0                    NaN     NOR
507  UAD             LAENGEN Vegard Stake    07/02/1989       250.0        268.0     328.0      220.0                    NaN     NOR
508  UAD                    MARCATO Marco    11/02/1984       503.0        141.0     514.0      139.0                    NaN     ITA
509  UAD                    MARTIN Daniel    20/08/1986        15.0       1393.0      44.0      904.0                    NaN     IRL
510  UAD          MIRZA AL-HAMMADI Yousif    08/10/1988       755.0         84.0     790.0       76.0                    NaN     UAE
511  UAD                     MORI Manuele    09/08/1980       960.0         55.0     900.0       62.0                    NaN     ITA
512  UAD               NIEMIEC Przemyslaw    11/04/1980       708.0         92.0    1434.0       24.0                    NaN     POL
513  UAD                   PETILLI Simone    04/05/1993       464.0        155.0    1057.0       48.0                    NaN     ITA
514  UAD                       POLANC Jan    06/05/1992       134.0        430.0     300.0      233.0                    NaN     SLO
515  UAD                    RAVASI Edward    05/06/1994       654.0        104.0     473.0      155.0                    NaN     ITA
516  UAD           RIABUSHENKO Aliaksandr    12/10/1995       693.0         96.0     622.0      109.0                    NaN     BLR
517  UAD                  SUTHERLAND Rory    08/02/1982       509.0        140.0    1226.0       35.0                    NaN     AUS
518  UAD                        SWIFT Ben    05/11/1987       138.0        422.0     815.0       72.0                    NaN     GBR
519  UAD      TIVANI PEREZ German Nicolas    31/10/1995       847.0         70.0     424.0      171.0  Trainee as from 31/07     ARG
520  UAD                   TROIA Oliviero    01/09/1994       930.0         58.0     667.0      100.0                    NaN     ITA
521  UAD                     ULISSI Diego    15/07/1989        18.0       1373.0      57.0      802.0                    NaN     ITA

[522 rows x 9 columns]

In [151]:
df_rider_results.head()

         Date                                    Race  Rank               Rider  CQ
0   6/10/2018                          Tour de Vendée   23.  BAGDONAS Gediminas   0
1   4/10/2018                         Paris - Bourges   70.  BAGDONAS Gediminas   0
2  26/09/2018  World Championships (Innsbruck) I.T.T.   51.  BAGDONAS Gediminas   5
3  23/09/2018  World Championships (Innsbruck) T.T.T.   15.  BAGDONAS Gediminas   7
4  12/09/2018                          GP de Wallonie  107.  BAGDONAS Gediminas   0

In [152]:
df_results = df_rider_results.merge(df_riders,on='Rider',how='inner',suffixes=('_l','_r'))

In [153]:
df_results

             Date                                                                                   Race   Rank               Rider   CQ team Date of birth  rank_start  point_start  rank_end  point_end Comments Country
0       6/10/2018                                                                         Tour de Vendée    23.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
1       4/10/2018                                                                        Paris - Bourges    70.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
2      26/09/2018                                                 World Championships (Innsbruck) I.T.T.    51.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
3      23/09/2018                                                 World Championships (Innsbruck) T.T.T.    15.  BAGDONAS Gediminas    7  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
4      12/09/2018                                                                         GP de Wallonie   107.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
5       1/09/2018                                                               Brussels Cycling Classic    70.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
6      24/08/2018                                                               Tour du Poitou Charentes     6.  BAGDONAS Gediminas   45  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
7      23/08/2018             Tour du Poitou Charentes, Stage 4 : Champagné-Saint-Hilaire - Couhé I.T.T.     9.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
8      23/08/2018                                     Tour du Poitou Charentes, Stage 3 : Gençay - Couhé    20.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
9      22/08/2018                                   Tour du Poitou Charentes, Stage 2 : Segonzac - Melle    15.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
10     21/08/2018                                    Tour du Poitou Charentes, Stage 1 : Jonzac - Cognac    17.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
11     19/08/2018                                                                         BinckBank Tour    49.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
12     19/08/2018                       BinckBank Tour, Stage 7 : Lacs de l'Eau d'Heure - Geraardsbergen    69.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
13     18/08/2018                                       BinckBank Tour, Stage 6 : Riemst (BEL) - Sittard    59.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
14     17/08/2018                                 BinckBank Tour, Stage 5 : Sint-Pieters-Leeuw - Lanaken    65.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
15     16/08/2018                                       BinckBank Tour, Stage 4 : Blankenberge - Ardooie    38.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
16     15/08/2018                                           BinckBank Tour, Stage 3 : Aalter - Antwerpen    23.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
17     14/08/2018                                       BinckBank Tour, Stage 2 : Venray - Venray I.T.T.    67.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
18     13/08/2018                                        BinckBank Tour, Stage 1 : Heerenveen - Bolsward    16.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
19     12/08/2018                                                  European Championships (Glasgow) R.R.    39.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
20      8/08/2018                                                European Championships (Glasgow) I.T.T.    25.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
21     29/07/2018                                                           Ride London - Surrey Classic    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
22     24/06/2018                                       National Championships Lithuania (Gargzdai) R.R.     1.  BAGDONAS Gediminas   30  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
23     22/06/2018                                     National Championships Lithuania (Gargzdai) I.T.T.     1.  BAGDONAS Gediminas   15  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
24      3/06/2018                                                                  Boucles de la Mayenne     5.  BAGDONAS Gediminas   50  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
25      3/06/2018                                      Boucles de la Mayenne, Stage 3 : Congrier - Laval    15.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
26      2/06/2018  Boucles de la Mayenne, Stage 2 : Saint-Aignan-de-Couptrain - Pré-en-Pail-Saint-Samson    13.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
27      1/06/2018                              Boucles de la Mayenne, Stage 1 : Saint-Berthevin - Gorron    10.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
28     31/05/2018                                         Boucles de la Mayenne, Prologue : Laval I.T.T.     8.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
29     26/05/2018                                                                GP de Plumelec-Morbihan    96.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
30     13/05/2018                                                                   4 Jours de Dunkerque    39.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
31      1/05/2018                                           Rund um den Finanzplatz Eschborn - Frankfurt    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
32     15/04/2018                                                                           Tro-Bro Léon    28.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
33      8/04/2018                                                                        Paris - Roubaix    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
34      1/04/2018                                                                   Ronde van Vlaanderen    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
35     28/03/2018                                                                  Dwars door Vlaanderen   106.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
36     25/03/2018                                                                        Gent - Wevelgem   116.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
37     23/03/2018                                                                           E3 Harelbeke    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
38     18/03/2018                                                        GP de Denain - Porte du Hainaut    14.  BAGDONAS Gediminas   12  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
39     27/02/2018                                                                               Le Samyn     5.  BAGDONAS Gediminas   32  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
40     25/02/2018                                                              Kuurne - Brussel - Kuurne    26.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
41     24/02/2018                                                                  Omloop Het Nieuwsblad    62.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
42     18/02/2018                                                      Vuelta a Andalucia / Ruta Del Sol    87.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
43     18/02/2018                            Vuelta a Andalucia / Ruta Del Sol, Stage 5 : Barbate I.T.T.    15.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
44      2/10/2018                                Binche - Chimay - Binche / Mémorial Frank Vandenbroucke    18.       BAKELANTS Jan    5  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
45     12/09/2018                                                                         GP de Wallonie    16.       BAKELANTS Jan    5  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
46      9/09/2018                                                                         GP de Montréal    25.       BAKELANTS Jan   11  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
47      7/09/2018                                                                           GP de Québec    17.       BAKELANTS Jan   19  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
48     26/08/2018                                                                       Deutschland Tour    12.       BAKELANTS Jan   18  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
49     26/08/2018                                         Deutschland Tour, Stage 4 : Lorsch - Stuttgart    11.       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
...           ...                                                                                    ...    ...                 ...  ...  ...           ...         ...          ...       ...        ...      ...     ...
30448  23/05/2018                                        Giro d'Italia, Stage 17 : Riva del Garda - Iseo   69.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30449  22/05/2018                                     Giro d'Italia, Stage 16 : Trento - Rovereto I.T.T.   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30450  20/05/2018                                           Giro d'Italia, Stage 15 : Tolmezzo - Sappada   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30451  19/05/2018                     Giro d'Italia, Stage 14 : San Vito al Tagliamento - Monte Zoncolan   29.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30452  18/05/2018                            Giro d'Italia, Stage 13 : Ferrara - Nervesa della Battaglia   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30453  17/05/2018                                                Giro d'Italia, Stage 12 : Osimo - Imola   43.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30454  16/05/2018                                               Giro d'Italia, Stage 11 : Assisi - Osimo   13.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30455  15/05/2018                                        Giro d'Italia, Stage 10 : Penne - Gualdo Tadino   44.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30456  13/05/2018                           Giro d'Italia, Stage 9 : Pesco Sannita - Gran Sasso d'Italia   62.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30457  12/05/2018                    Giro d'Italia, Stage 8 : Praia a Mare - Montevergine di Mercogliano   16.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30458  11/05/2018                                          Giro d'Italia, Stage 7 : Pizzo - Praia a Mare   44.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30459  10/05/2018                                          Giro d'Italia, Stage 6 : Caltanissetta - Etna   28.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30460   9/05/2018                    Giro d'Italia, Stage 5 : Agrigento - Santa Ninfa (Valle del Belice)   28.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30461   8/05/2018                                         Giro d'Italia, Stage 4 : Catania - Caltagirone   19.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30462   6/05/2018                               Giro d'Italia, Stage 3 : Be'er Sheva (ISR) - Eilat (ISR)   74.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30463   5/05/2018                                  Giro d'Italia, Stage 2 : Tel Aviv (ISR) - Haifa (ISR)   62.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30464   4/05/2018                                        Giro d'Italia, Stage 1 : Jerusalem (ISR) I.T.T.   23.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30465  22/04/2018                                                               Liège - Bastogne - Liège   28.0        ULISSI Diego    8  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30466  18/04/2018                                                                        Flèche Wallonne   14.0        ULISSI Diego   27  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30467  15/04/2018                                                                       Amstel Gold Race   50.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30468   7/04/2018                                                                 Itzulia Basque Country   50.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30469   7/04/2018                                       Itzulia Basque Country, Stage 6 : Eibar - Arrate   48.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30470   6/04/2018                                    Itzulia Basque Country, Stage 5 : Vitoria - Gasteiz   97.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30471   5/04/2018                               Itzulia Basque Country, Stage 4 : Lodosa - Lodosa I.T.T.   58.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30472   4/04/2018                                  Itzulia Basque Country, Stage 3 : Bermeo - Valdegovia   72.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30473   3/04/2018                                     Itzulia Basque Country, Stage 2 : Zarautz - Bermeo   35.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30474   2/04/2018                                    Itzulia Basque Country, Stage 1 : Zarautz - Zarautz   34.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30475  17/03/2018                                                                       Milano - Sanremo  103.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30476  13/03/2018                                                                    Tirreno - Adriatico   22.0        ULISSI Diego   16  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30477  13/03/2018                         Tirreno - Adriatico, Stage 7 : San Benedetto del Tronto I.T.T.   50.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30478  12/03/2018                                           Tirreno - Adriatico, Stage 6 : Numana - Fano   34.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30479  11/03/2018                             Tirreno - Adriatico, Stage 5 : Castelraimondo - Filottrano   20.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30480  10/03/2018                            Tirreno - Adriatico, Stage 4 : Foligno - Sarnano/Sassotetto   33.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30481   9/03/2018                                       Tirreno - Adriatico, Stage 3 : Follonica - Trevi   36.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30482   8/03/2018                                    Tirreno - Adriatico, Stage 2 : Camaiore - Follonica   21.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30483   7/03/2018                                 Tirreno - Adriatico, Stage 1 : Lido di Camaiore T.T.T.    9.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30484   3/03/2018                                                                         Strade Bianche   44.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30485  25/02/2018                                                                         Abu Dhabi Tour    7.0        ULISSI Diego   70  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30486  25/02/2018                                        Abu Dhabi Tour, Stage 5 : Al Ain - Jebel Hafeet    8.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA

Clean up the data types

Replace below values  
leader (leader of the stage race): 0  
\- (usually means TTT): nan  
DNF (did not finish): -1  
OOT (out of time): -2  
DNS (did not start): -5  
DQ (disqualified): -10

In [154]:
df_results['Rank'] = df_results['Rank'].replace('leader',0)
df_results['Rank'] = df_results['Rank'].replace('DNF',-1)
df_results['Rank'] = df_results['Rank'].replace('OOT',-2)
df_results['Rank'] = df_results['Rank'].replace('-',np.nan)
df_results['Rank'] = df_results['Rank'].replace('DNS',-5)
df_results['Rank'] = df_results['Rank'].replace('DQ',-10)
df_results['Rank'] = df_results['Rank'].astype(float)

In [155]:
df_results['Date'] = pd.to_datetime(df_results['Date'],format='%d/%m/%Y')

TdF results

In [156]:
df_tdf_gc = df_results.loc[df_results['Race']=='Tour de France',['Rider','Rank']]

In [157]:
df_tdf_gc.sort_values('Rank')

                                       Rider   Rank
25245                         THOMAS Geraint    1.0
25720                           DUMOULIN Tom    2.0
24110                           FROOME Chris    3.0
23036                          ROGLIC Primoz    4.0
22587                      KRUIJSWIJK Steven    5.0
128                            BARDET Romain    6.0
14372                      LANDA MEANA Mikel    7.0
29786                          MARTIN Daniel    8.0
21861                          ZAKARIN Ilnur    9.0
14649         QUINTANA ROJAS Nairo Alexander   10.0
15889                            JUNGELS Bob   11.0
2280                          FUGLSANG Jakob   12.0
1288                           LATOUR Pierre   13.0
15087            VALVERDE BELMONTE Alejandro   14.0
23665                BERNAL GOMEZ Egan Arley   15.0
2766                           KANGERT Tanel   16.0
5009                      POZZOVIVO Domenico   18.0
7732                             MAJKA Rafal   19.0
5494                          CARUSO Damiano   20.0
4221                   IZAGIRRE INSAUSTI Ion   22.0
13050                  NIEVE ITURRALDE Mikel   23.0
4123                 IZAGIRRE INSAUSTI Gorka   24.0
25910                          GESCHKE Simon   25.0
28066                          MOLLEMA Bauke   26.0
19820                         ROLLAND Pierre   27.0
6568                       VAN AVERMAET Greg   28.0
13397                             YATES Adam   29.0
22366                          GESINK Robert   31.0
6654                      VAN GARDEREN Tejay   32.0
15169                     ALAPHILIPPE Julian   33.0
8988                             GAUDU David   34.0
27076                         BERNARD Julien   35.0
19397          MARTINEZ POVEDA Daniel Felipe   36.0
19460          MARTINEZ POVEDA Daniel Felipe   36.0
23221                         TOLHOEK Antwan   37.0
9427                             MOLARD Rudy   38.0
29387                      DURASEK Kristijan   40.0
10136                          VICHOT Arthur   41.0
3288                VALGREN ANDERSEN Michael   44.0
12661                            IMPEY Daryl   46.0
24626                     KWIATKOWSKI Michal   49.0
13579              AMADOR BIKKAZAKOVA Andrey   50.0
26579                        TEN DAM Laurens   51.0
25441                   ANDERSEN Søren Kragh   52.0
5965                             KÜNG Stefan   53.0
819                            FRANK Mathias   55.0
2567                           HANSEN Jesper   56.0
2212                   FRAILE MATARRANZ Omar   57.0
24859                             POELS Wout   58.0
18214                      SLAGTER Tom-Jelte   59.0
...                                      ...    ...
14252                     ERVITI OLLO Imanol   77.0
27399                           DE KORT Koen   78.0
20420                            BOSWELL Ian   79.0
16073                          LAMPAERT Yves   80.0
22894                           MARTENS Paul   81.0
28564                           SKUJINS Toms   82.0
518                           DILLIER Silvan   83.0
17160                   BOASSON HAGEN Edvald   84.0
21446                            POLITT Nils   87.0
26756                          THEUNS Edward   88.0
6367                           SCHÄR Michael   90.0
7355                        BURGHARDT Marcus   92.0
8093                         POLJANSKI Pawel   94.0
18900                           CLARKE Simon  100.0
4300                          KOREN Kristjan  102.0
11221                      MARCZYNSKI Tomasz  103.0
13858                        BENNATI Daniele  104.0
30206                        SUTHERLAND Rory  106.0
5880                           GERRANS Simon  107.0
12447                          HAYMAN Mathew  108.0
3825                         COLBRELLI Sonny  109.0
17727            JANSE VAN RENSBURG Reinardt  110.0
27479                         DEGENKOLB John  111.0
7938                              OSS Daniel  112.0
27788                           GOGL Michael  113.0
29549                     KRISTOFF Alexander  114.0
20152                          VANMARCKE Sep  115.0
12511                        HEPBURN Michael  117.0
12132                         DURBRIDGE Luke  118.0
16857                          TERPSTRA Niki  119.0
11960                             BAUER Jack  121.0
7198                           BODNAR Maciej  122.0
4051                       HAUSSLER Heinrich  125.0
29703                          MARCATO Marco  126.0
9240                          LE GAC Olivier  127.0
25054                              ROWE Luke  128.0
19893                             SCULLY Tom  129.0
8187                       PÖSTLBERGER Lukas  132.0
30354                         TROIA Oliviero  133.0
9978                         SINKELDAM Ramon  134.0
16433  RICHEZE ARAQUISTAIN Maximiliano Ariel  135.0
19742                         PHINNEY Taylor  136.0
23120                            ROOSEN Timo  137.0
29428                        FERRARI Roberto  138.0
22519                  JANSEN Amund Grøndahl  139.0
8847                           DEMARE Arnaud  141.0
10548                        DE BUYST Jasper  142.0
18332                     THOMSON Jay Robert  143.0
9051                        GUARNIERI Jacopo  144.0
19016                        CRADDOCK Lawson  145.0

[115 rows x 2 columns]

Riders who participated in TdF

In [158]:
tdf_riders = df_results.loc[df_results['Race'].str.contains('Tour de France'),'Rider'].unique()

In [159]:
print(len(tdf_riders))
tdf_riders

144

array([u'BARDET Romain', u'DILLIER Silvan', u'DOMONT Axel',
       u'FRANK Mathias', u'GALLOPIN Tony', u'LATOUR Pierre',
       u'NAESEN Oliver', u'VUILLERMOZ Alexis', u'CORT NIELSEN Magnus',
       u'FRAILE MATARRANZ Omar', u'FUGLSANG Jakob', u'GRUZDEV Dmitriy',
       u'HANSEN Jesper', u'KANGERT Tanel', u'SANCHEZ GIL Luis Leon',
       u'VALGREN ANDERSEN Michael', u'COLBRELLI Sonny',
       u'HAUSSLER Heinrich', u'IZAGIRRE INSAUSTI Gorka',
       u'IZAGIRRE INSAUSTI Ion', u'KOREN Kristjan', u'NIBALI Vincenzo',
       u'PELLIZOTTI Franco', u'POZZOVIVO Domenico', u'BEVIN Patrick',
       u'CARUSO Damiano', u'GERRANS Simon', u'K\xdcNG Stefan',
       u'PORTE Richie', u'SCH\xc4R Michael', u'VAN AVERMAET Greg',
       u'VAN GARDEREN Tejay', u'BODNAR Maciej', u'BURGHARDT Marcus',
       u'MAJKA Rafal', u'M\xdcHLBERGER Gregor', u'OSS Daniel',
       u'POLJANSKI Pawel', u'P\xd6STLBERGER Lukas', u'SAGAN Peter',
       u'DEMARE Arnaud', u'GAUDU David', u'GUARNIERI Jacopo',
       u'LE GAC Olivier', u'LUDVIGSSON Tobias', u'MOLARD Rudy',
       u'SINKELDAM Ramon', u'VICHOT Arthur', u'BENOOT Tiesj',
       u'DE BUYST Jasper', u'DE GENDT Thomas', u'GREIPEL Andr\xe9',
       u'KEUKELEIRE Jens', u'MARCZYNSKI Tomasz', u'SIEBERG Marcel',
       u'VANENDERT Jelle', u'BAUER Jack', u'DURBRIDGE Luke',
       u'HAYMAN Mathew', u'HEPBURN Michael', u'HOWSON Damien',
       u'IMPEY Daryl', u'NIEVE ITURRALDE Mikel', u'YATES Adam',
       u'AMADOR BIKKAZAKOVA Andrey', u'BENNATI Daniele',
       u'ERVITI OLLO Imanol', u'LANDA MEANA Mikel',
       u'QUINTANA ROJAS Nairo Alexander', u'ROJAS GIL Jose Joaquin',
       u'SOLER GIMENEZ Marc', u'VALVERDE BELMONTE Alejandro',
       u'ALAPHILIPPE Julian', u'DECLERCQ Tim', u'GAVIRIA RENDON Fernando',
       u'GILBERT Philippe', u'JUNGELS Bob', u'LAMPAERT Yves',
       u'RICHEZE ARAQUISTAIN Maximiliano Ariel', u'TERPSTRA Niki',
       u'BOASSON HAGEN Edvald', u'CAVENDISH Mark',
       u'JANSE VAN RENSBURG Reinardt', u'PAUWELS Serge', u'RENSHAW Mark',
       u'SLAGTER Tom-Jelte', u'THOMSON Jay Robert', u'VERMOTE Julien',
       u'CLARKE Simon', u'CRADDOCK Lawson',
       u'MARTINEZ POVEDA Daniel Felipe', u'PHINNEY Taylor',
       u'ROLLAND Pierre', u'SCULLY Tom', u'URAN URAN Rigoberto',
       u'VANMARCKE Sep', u'BOSWELL Ian', u'KISERLOVSKI Robert',
       u'KITTEL Marcel', u'KOCHETKOV Pavel', u'MARTIN Tony',
       u'POLITT Nils', u'ZABEL Rick', u'ZAKARIN Ilnur', u'GESINK Robert',
       u'GROENEWEGEN Dylan', u'JANSEN Amund Gr\xf8ndahl',
       u'KRUIJSWIJK Steven', u'MARTENS Paul', u'ROGLIC Primoz',
       u'ROOSEN Timo', u'TOLHOEK Antwan', u'BERNAL GOMEZ Egan Arley',
       u'CASTROVIEJO NICOLAS Jonathan', u'FROOME Chris',
       u'KWIATKOWSKI Michal', u'MOSCON Gianni', u'POELS Wout',
       u'ROWE Luke', u'THOMAS Geraint', u'ANDERSEN S\xf8ren Kragh',
       u'ARNDT Nikias', u'DUMOULIN Tom', u'GESCHKE Simon', u'HAGA Chad',
       u'MATTHEWS Michael', u'TEN DAM Laurens', u'THEUNS Edward',
       u'BERNARD Julien', u'DE KORT Koen', u'DEGENKOLB John',
       u'GOGL Michael', u'GRMAY Tsgabu Gebremaryam', u'MOLLEMA Bauke',
       u'SKUJINS Toms', u'STUYVEN Jasper', u'ATAPUMA HURTADO Jhon Darwin',
       u'DURASEK Kristijan', u'FERRARI Roberto', u'KRISTOFF Alexander',
       u'MARCATO Marco', u'MARTIN Daniel', u'SUTHERLAND Rory',
       u'TROIA Oliviero'], dtype=object)

Top ten finishers

In [160]:
top10_riders = df_tdf_gc.loc[df_tdf_gc['Rank'].between(1,10),'Rider'].values

In [161]:
top10_riders

array([u'BARDET Romain', u'LANDA MEANA Mikel',
       u'QUINTANA ROJAS Nairo Alexander', u'ZAKARIN Ilnur',
       u'KRUIJSWIJK Steven', u'ROGLIC Primoz', u'FROOME Chris',
       u'THOMAS Geraint', u'DUMOULIN Tom', u'MARTIN Daniel'], dtype=object)

Non top ten finishers

In [162]:
non_top10_riders = list(set(tdf_riders) - set(top10_riders))
non_top10_riders

[u'SCH\xc4R Michael',
 u'KWIATKOWSKI Michal',
 u'VANENDERT Jelle',
 u'GOGL Michael',
 u'BOASSON HAGEN Edvald',
 u'VANMARCKE Sep',
 u'HAYMAN Mathew',
 u'MARTINEZ POVEDA Daniel Felipe',
 u'GESCHKE Simon',
 u'CRADDOCK Lawson',
 u'HANSEN Jesper',
 u'CARUSO Damiano',
 u'ALAPHILIPPE Julian',
 u'VALGREN ANDERSEN Michael',
 u'GROENEWEGEN Dylan',
 u'ARNDT Nikias',
 u'SAGAN Peter',
 u'OSS Daniel',
 u'ROLLAND Pierre',
 u'BODNAR Maciej',
 u'MARTIN Tony',
 u'RICHEZE ARAQUISTAIN Maximiliano Ariel',
 u'FRAILE MATARRANZ Omar',
 u'BENOOT Tiesj',
 u'SINKELDAM Ramon',
 u'KANGERT Tanel',
 u'DILLIER Silvan',
 u'NIEVE ITURRALDE Mikel',
 u'KOREN Kristjan',
 u'FRANK Mathias',
 u'STUYVEN Jasper',
 u'GILBERT Philippe',
 u'DEGENKOLB John',
 u'CORT NIELSEN Magnus',
 u'GREIPEL Andr\xe9',
 u'IZAGIRRE INSAUSTI Gorka',
 u'LE GAC Olivier',
 u'MOLARD Rudy',
 u'MATTHEWS Michael',
 u'CAVENDISH Mark',
 u'URAN URAN Rigoberto',
 u'ROJAS GIL Jose Joaquin',
 u'ROOSEN Timo',
 u'DURASEK Kristijan',
 u'BENNATI Daniele',
 u'TROIA Oliviero',
 u'TEN DAM Laurens',
 u'POLITT Nils',
 u'HOWSON Damien',
 u'VAN GARDEREN Tejay',
 u'DE BUYST Jasper',
 u'GESINK Robert',
 u'SOLER GIMENEZ Marc',
 u'JANSEN Amund Gr\xf8ndahl',
 u'BAUER Jack',
 u'PAUWELS Serge',
 u'VERMOTE Julien',
 u'JUNGELS Bob',
 u'GAVIRIA RENDON Fernando',
 u'MOSCON Gianni',
 u'BEVIN Patrick',
 u'ROWE Luke',
 u'SUTHERLAND Rory',
 u'DEMARE Arnaud',
 u'HAUSSLER Heinrich',
 u'VALVERDE BELMONTE Alejandro',
 u'DURBRIDGE Luke',
 u'POZZOVIVO Domenico',
 u'ZABEL Rick',
 u'FERRARI Roberto',
 u'BERNAL GOMEZ Egan Arley',
 u'VICHOT Arthur',
 u'SANCHEZ GIL Luis Leon',
 u'SIEBERG Marcel',
 u'ANDERSEN S\xf8ren Kragh',
 u'THOMSON Jay Robert',
 u'M\xdcHLBERGER Gregor',
 u'GRUZDEV Dmitriy',
 u'BOSWELL Ian',
 u'KEUKELEIRE Jens',
 u'COLBRELLI Sonny',
 u'SLAGTER Tom-Jelte',
 u'PHINNEY Taylor',
 u'DOMONT Axel',
 u'GERRANS Simon',
 u'SCULLY Tom',
 u'PELLIZOTTI Franco',
 u'YATES Adam',
 u'DECLERCQ Tim',
 u'THEUNS Edward',
 u'DE GENDT Thomas',
 u'K\xdcNG Stefan',
 u'BURGHARDT Marcus',
 u'LUDVIGSSON Tobias',
 u'NAESEN Oliver',
 u'GRMAY Tsgabu Gebremaryam',
 u'MAJKA Rafal',
 u'SKUJINS Toms',
 u'MARCATO Marco',
 u'NIBALI Vincenzo',
 u'CASTROVIEJO NICOLAS Jonathan',
 u'VUILLERMOZ Alexis',
 u'LATOUR Pierre',
 u'RENSHAW Mark',
 u'KISERLOVSKI Robert',
 u'GAUDU David',
 u'JANSE VAN RENSBURG Reinardt',
 u'MARCZYNSKI Tomasz',
 u'LAMPAERT Yves',
 u'ATAPUMA HURTADO Jhon Darwin',
 u'HEPBURN Michael',
 u'POLJANSKI Pawel',
 u'GALLOPIN Tony',
 u'P\xd6STLBERGER Lukas',
 u'CLARKE Simon',
 u'MARTENS Paul',
 u'AMADOR BIKKAZAKOVA Andrey',
 u'POELS Wout',
 u'KRISTOFF Alexander',
 u'ERVITI OLLO Imanol',
 u'VAN AVERMAET Greg',
 u'FUGLSANG Jakob',
 u'PORTE Richie',
 u'KOCHETKOV Pavel',
 u'BERNARD Julien',
 u'TERPSTRA Niki',
 u'GUARNIERI Jacopo',
 u'KITTEL Marcel',
 u'MOLLEMA Bauke',
 u'IMPEY Daryl',
 u'DE KORT Koen',
 u'HAGA Chad',
 u'IZAGIRRE INSAUSTI Ion',
 u'TOLHOEK Antwan']

Find races before TdF (2018-07-07)

In [163]:
mask = (df_results['Date'] < '2018-07-07')
df_pre_tdf = df_results.loc[mask]

In [164]:
df_pre_tdf

            Date                                                                                   Race   Rank               Rider   CQ team Date of birth  rank_start  point_start  rank_end  point_end Comments Country
22    2018-06-24                                       National Championships Lithuania (Gargzdai) R.R.    1.0  BAGDONAS Gediminas   30  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
23    2018-06-22                                     National Championships Lithuania (Gargzdai) I.T.T.    1.0  BAGDONAS Gediminas   15  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
24    2018-06-03                                                                  Boucles de la Mayenne    5.0  BAGDONAS Gediminas   50  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
25    2018-06-03                                      Boucles de la Mayenne, Stage 3 : Congrier - Laval   15.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
26    2018-06-02  Boucles de la Mayenne, Stage 2 : Saint-Aignan-de-Couptrain - Pré-en-Pail-Saint-Samson   13.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
27    2018-06-01                              Boucles de la Mayenne, Stage 1 : Saint-Berthevin - Gorron   10.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
28    2018-05-31                                         Boucles de la Mayenne, Prologue : Laval I.T.T.    8.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
29    2018-05-26                                                                GP de Plumelec-Morbihan   96.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
30    2018-05-13                                                                   4 Jours de Dunkerque   39.0  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
31    2018-05-01                                           Rund um den Finanzplatz Eschborn - Frankfurt   -1.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
32    2018-04-15                                                                           Tro-Bro Léon   28.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
33    2018-04-08                                                                        Paris - Roubaix   -1.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
34    2018-04-01                                                                   Ronde van Vlaanderen   -1.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
35    2018-03-28                                                                  Dwars door Vlaanderen  106.0  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
36    2018-03-25                                                                        Gent - Wevelgem  116.0  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
37    2018-03-23                                                                           E3 Harelbeke   -1.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
38    2018-03-18                                                        GP de Denain - Porte du Hainaut   14.0  BAGDONAS Gediminas   12  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
39    2018-02-27                                                                               Le Samyn    5.0  BAGDONAS Gediminas   32  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
40    2018-02-25                                                              Kuurne - Brussel - Kuurne   26.0  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
41    2018-02-24                                                                  Omloop Het Nieuwsblad   62.0  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
42    2018-02-18                                                      Vuelta a Andalucia / Ruta Del Sol   87.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
43    2018-02-18                            Vuelta a Andalucia / Ruta Del Sol, Stage 5 : Barbate I.T.T.   15.0  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
62    2018-06-24                                           National Championships Belgium (Binche) R.R.   35.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
63    2018-06-21                                        National Championships Belgium (Anzegem) I.T.T.   21.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
64    2018-06-16                        Route d'Occitanie, Stage 3 : Prat-Bonrepaux - Les Monts d'Olmes   -1.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
65    2018-04-18                                                                        Flèche Wallonne   -1.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
66    2018-04-15                                                                       Amstel Gold Race   66.0       BAKELANTS Jan    5  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
67    2018-04-07                                                                 Itzulia Basque Country   43.0       BAKELANTS Jan    5  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
68    2018-04-07                                       Itzulia Basque Country, Stage 6 : Eibar - Arrate   73.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
69    2018-04-06                                    Itzulia Basque Country, Stage 5 : Vitoria - Gasteiz   58.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
70    2018-04-05                               Itzulia Basque Country, Stage 4 : Lodosa - Lodosa I.T.T.   56.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
71    2018-04-04                                  Itzulia Basque Country, Stage 3 : Bermeo - Valdegovia   18.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
72    2018-04-03                                     Itzulia Basque Country, Stage 2 : Zarautz - Bermeo   59.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
73    2018-04-02                                    Itzulia Basque Country, Stage 1 : Zarautz - Zarautz   75.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
74    2018-03-24                                                               Classic Loire Atlantique   57.0       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
89    2018-06-24                                                                         Paris - Chauny   23.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
90    2018-06-03                                                                  Boucles de la Mayenne   19.0        BARBIER Rudy    6  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
91    2018-06-03                                      Boucles de la Mayenne, Stage 3 : Congrier - Laval    3.0        BARBIER Rudy    5  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
92    2018-06-02  Boucles de la Mayenne, Stage 2 : Saint-Aignan-de-Couptrain - Pré-en-Pail-Saint-Samson    7.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
93    2018-05-13                                                                   4 Jours de Dunkerque   37.0        BARBIER Rudy    5  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
94    2018-05-11                            4 Jours de Dunkerque, Stage 4 : Dainville - Mont Saint-Eloi   15.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
95    2018-05-10                              4 Jours de Dunkerque, Stage 3 : Fort Mahon Plage - Ecques    8.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
96    2018-05-09                                  4 Jours de Dunkerque, Stage 2 : Le Quesnoy - Soissons    7.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
97    2018-05-08                                  4 Jours de Dunkerque, Stage 1 : Dunkerque - La Bassée    3.0        BARBIER Rudy   10  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
98    2018-05-01                                           Rund um den Finanzplatz Eschborn - Frankfurt   -1.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
99    2018-04-15                                                                           Tro-Bro Léon   30.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
100   2018-04-01                                                                   Ronde van Vlaanderen   -1.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
101   2018-03-28                                                                  Dwars door Vlaanderen   -1.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
102   2018-03-25                                                                        Gent - Wevelgem   52.0        BARBIER Rudy    5  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
103   2018-03-23                                                                           E3 Harelbeke   -1.0        BARBIER Rudy    0  ALM    18/12/1992       104.0        506.0     717.0       90.0      NaN     FRA
...          ...                                                                                    ...    ...                 ...  ...  ...           ...         ...          ...       ...        ...      ...     ...
30448 2018-05-23                                        Giro d'Italia, Stage 17 : Riva del Garda - Iseo   69.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30449 2018-05-22                                     Giro d'Italia, Stage 16 : Trento - Rovereto I.T.T.   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30450 2018-05-20                                           Giro d'Italia, Stage 15 : Tolmezzo - Sappada   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30451 2018-05-19                     Giro d'Italia, Stage 14 : San Vito al Tagliamento - Monte Zoncolan   29.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30452 2018-05-18                            Giro d'Italia, Stage 13 : Ferrara - Nervesa della Battaglia   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30453 2018-05-17                                                Giro d'Italia, Stage 12 : Osimo - Imola   43.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30454 2018-05-16                                               Giro d'Italia, Stage 11 : Assisi - Osimo   13.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30455 2018-05-15                                        Giro d'Italia, Stage 10 : Penne - Gualdo Tadino   44.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30456 2018-05-13                           Giro d'Italia, Stage 9 : Pesco Sannita - Gran Sasso d'Italia   62.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30457 2018-05-12                    Giro d'Italia, Stage 8 : Praia a Mare - Montevergine di Mercogliano   16.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30458 2018-05-11                                          Giro d'Italia, Stage 7 : Pizzo - Praia a Mare   44.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30459 2018-05-10                                          Giro d'Italia, Stage 6 : Caltanissetta - Etna   28.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30460 2018-05-09                    Giro d'Italia, Stage 5 : Agrigento - Santa Ninfa (Valle del Belice)   28.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30461 2018-05-08                                         Giro d'Italia, Stage 4 : Catania - Caltagirone   19.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30462 2018-05-06                               Giro d'Italia, Stage 3 : Be'er Sheva (ISR) - Eilat (ISR)   74.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30463 2018-05-05                                  Giro d'Italia, Stage 2 : Tel Aviv (ISR) - Haifa (ISR)   62.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30464 2018-05-04                                        Giro d'Italia, Stage 1 : Jerusalem (ISR) I.T.T.   23.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30465 2018-04-22                                                               Liège - Bastogne - Liège   28.0        ULISSI Diego    8  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30466 2018-04-18                                                                        Flèche Wallonne   14.0        ULISSI Diego   27  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30467 2018-04-15                                                                       Amstel Gold Race   50.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30468 2018-04-07                                                                 Itzulia Basque Country   50.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30469 2018-04-07                                       Itzulia Basque Country, Stage 6 : Eibar - Arrate   48.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30470 2018-04-06                                    Itzulia Basque Country, Stage 5 : Vitoria - Gasteiz   97.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30471 2018-04-05                               Itzulia Basque Country, Stage 4 : Lodosa - Lodosa I.T.T.   58.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30472 2018-04-04                                  Itzulia Basque Country, Stage 3 : Bermeo - Valdegovia   72.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30473 2018-04-03                                     Itzulia Basque Country, Stage 2 : Zarautz - Bermeo   35.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30474 2018-04-02                                    Itzulia Basque Country, Stage 1 : Zarautz - Zarautz   34.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30475 2018-03-17                                                                       Milano - Sanremo  103.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30476 2018-03-13                                                                    Tirreno - Adriatico   22.0        ULISSI Diego   16  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30477 2018-03-13                         Tirreno - Adriatico, Stage 7 : San Benedetto del Tronto I.T.T.   50.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30478 2018-03-12                                           Tirreno - Adriatico, Stage 6 : Numana - Fano   34.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30479 2018-03-11                             Tirreno - Adriatico, Stage 5 : Castelraimondo - Filottrano   20.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30480 2018-03-10                            Tirreno - Adriatico, Stage 4 : Foligno - Sarnano/Sassotetto   33.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30481 2018-03-09                                       Tirreno - Adriatico, Stage 3 : Follonica - Trevi   36.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30482 2018-03-08                                    Tirreno - Adriatico, Stage 2 : Camaiore - Follonica   21.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30483 2018-03-07                                 Tirreno - Adriatico, Stage 1 : Lido di Camaiore T.T.T.    9.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30484 2018-03-03                                                                         Strade Bianche   44.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30485 2018-02-25                                                                         Abu Dhabi Tour    7.0        ULISSI Diego   70  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30486 2018-02-25                                        Abu Dhabi Tour, Stage 5 : Al Ain - Jebel Hafeet    8.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA

Calculate rider performance in pre-TdF races

In [165]:
points_sum = []
race_days = []
wins = []
podiums = []
top_tens = []
for r in tdf_riders:
    df_r = df_pre_tdf[df_pre_tdf['Rider']==r]
    points_sum.append(df_r['CQ'].sum())
    race_days.append(df_r['Race'].count())
    wins.append(df_r.loc[df_r['Rank']==1,'Race'].count())
    podiums.append(df_r.loc[df_r['Rank'].between(1,3),'Race'].count())
    top_tens.append(df_r.loc[df_r['Rank'].between(1,10),'Race'].count())
   
df_performance = pd.DataFrame(
    {'riders': tdf_riders,
     'win': wins,
     'podium': podiums,
     'top_ten': top_tens,
     'points': points_sum,
     'race_days': race_days,
    },columns=['riders','win','podium','top_ten','points','race_days'])

In [166]:
df_performance

                           riders  win  podium  top_ten  points  race_days
0                   BARDET Romain    1       6       17     772         32
1                  DILLIER Silvan    1       3        6     371         38
2                     DOMONT Axel    0       0        0      33         41
3                   FRANK Mathias    0       0        8     262         52
4                   GALLOPIN Tony    2       5        9     325         37
5                   LATOUR Pierre    1       3       18     601         43
6                   NAESEN Oliver    0       2        7     433         41
7               VUILLERMOZ Alexis    0       3        8     340         38
8             CORT NIELSEN Magnus    2       6       17     424         47
9           FRAILE MATARRANZ Omar    2       4        4     225         37
10                 FUGLSANG Jakob    1       7       16     786         39
11                GRUZDEV Dmitriy    0       0        0      25         23
12                  HANSEN Jesper    0       0        1     145         38
13                  KANGERT Tanel    1       1        1     123         44
14          SANCHEZ GIL Luis Leon    2      10       23     762         64
15       VALGREN ANDERSEN Michael    2       2        3     627         38
16                COLBRELLI Sonny    3       8       20     572         44
17              HAUSSLER Heinrich    0       0        0      78         24
18        IZAGIRRE INSAUSTI Gorka    1       7       20     691         51
19          IZAGIRRE INSAUSTI Ion    0       5       12     576         51
20                 KOREN Kristjan    1       1        5      66         40
21                NIBALI Vincenzo    1       1        1     422         36
22              PELLIZOTTI Franco    0       0        0      25         31
23             POZZOVIVO Domenico    0       4       22     788         52
24                  BEVIN Patrick    1       4        9     140         48
25                 CARUSO Damiano    1       5       13     414         42
26                  GERRANS Simon    0       1        5     109         40
27                    KÜNG Stefan    4       7       11     269         40
28                   PORTE Richie    3       8       12     799         40
29                  SCHÄR Michael    0       1        1      81         38
30              VAN AVERMAET Greg    5      10       21     785         47
31             VAN GARDEREN Tejay    2       5        9     379         41
32                  BODNAR Maciej    1       2       10     118         46
33               BURGHARDT Marcus    0       0        6     125         30
34                    MAJKA Rafal    0       4       13     358         32
35              MÜHLBERGER Gregor    0       1        9     167         33
36                     OSS Daniel    0       0        1     138         42
37                POLJANSKI Pawel    0       0        0      48         44
38              PÖSTLBERGER Lukas    1       1        2      87         24
39                    SAGAN Peter    6      14       26    1246         43
40                  DEMARE Arnaud    2       6       10     584         31
41                    GAUDU David    0       0        4     155         34
42               GUARNIERI Jacopo    0       0        0      20         25
43                 LE GAC Olivier    1       1        3     127         30
44              LUDVIGSSON Tobias    1       2        2      43         21
45                    MOLARD Rudy    1       4       11     359         41
46                SINKELDAM Ramon    1       2        3     182         29
47                  VICHOT Arthur    2       4       10     341         24
48                   BENOOT Tiesj    1       5       15     803         31
49                DE BUYST Jasper    0       2        4     117         37
..                            ...  ...     ...      ...     ...        ...
94            URAN URAN Rigoberto    2       4       13     318         27
95                  VANMARCKE Sep    0       2        7     491         35
96                    BOSWELL Ian    0       0        0      36         35
97             KISERLOVSKI Robert    0       0        4      96         34
98                  KITTEL Marcel    2       4        9     206         34
99                KOCHETKOV Pavel    0       0        1      65         42
100                   MARTIN Tony    1       2        5     149         42
101                   POLITT Nils    0       1        4     221         33
102                    ZABEL Rick    0       0        5      99         37
103                 ZAKARIN Ilnur    0       0        4     190         34
104                 GESINK Robert    0       1        3     244         44
105             GROENEWEGEN Dylan    9      10       11     438         29
106         JANSEN Amund Grøndahl    0       0        4     150         21
107             KRUIJSWIJK Steven    0       0        9     362         32
108                  MARTENS Paul    0       0        1      42         23
109                 ROGLIC Primoz    7      14       18     982         37
110                   ROOSEN Timo    0       2        8     307         28
111                TOLHOEK Antwan    0       1        8     143         28
112       BERNAL GOMEZ Egan Arley    6      11       20     866         39
113  CASTROVIEJO NICOLAS Jonathan    2       5        7     235         39
114                  FROOME Chris    3       4       15     837         41
115            KWIATKOWSKI Michal    7      11       17     805         43
116                 MOSCON Gianni    1       4       12     302         36
117                    POELS Wout    2       3        7     351         42
118                     ROWE Luke    1       1        1      39         38
119                THOMAS Geraint    4      11       15     804         36
120          ANDERSEN Søren Kragh    1       6       10     199         30
121                  ARNDT Nikias    0       1        4     118         47
122                  DUMOULIN Tom    1       5       12     646         39
123                 GESCHKE Simon    0       3        6      60         34
124                     HAGA Chad    0       1        3      63         50
125              MATTHEWS Michael    1       4       13     490         29
126               TEN DAM Laurens    0       0        0      54         51
127                 THEUNS Edward    0       3        8     140         35
128                BERNARD Julien    0       1        4      73         40
129                  DE KORT Koen    0       1        6      80         39
130                DEGENKOLB John    2       4        9     330         33
131                  GOGL Michael    0       1        8     142         37
132      GRMAY Tsgabu Gebremaryam    1       1        2     111         43
133                 MOLLEMA Bauke    1       3       12     477         41
134                  SKUJINS Toms    3       3        7     181         45
135                STUYVEN Jasper    0       1       12     615         42
136   ATAPUMA HURTADO Jhon Darwin    0       1        2      41         44
137             DURASEK Kristijan    0       0        2      98         18
138               FERRARI Roberto    0       1        4      49         39
139            KRISTOFF Alexander    4       5       23     685         54
140                 MARCATO Marco    0       0        1     104         47
141                 MARTIN Daniel    1       3        8     370         37
142               SUTHERLAND Rory    0       0        0      10         28
143                TROIA Oliviero    0       0        4      24         33

[144 rows x 6 columns]

In [167]:
df_performance.sort_values(by=['win', 'podium','top_ten'],ascending=False)

                                    riders  win  podium  top_ten  points  race_days
71             VALVERDE BELMONTE Alejandro   11      17       26    1600         42
105                      GROENEWEGEN Dylan    9      10       11     438         29
61                             IMPEY Daryl    8      16       19     838         49
109                          ROGLIC Primoz    7      14       18     982         37
115                     KWIATKOWSKI Michal    7      11       17     805         43
74                 GAVIRIA RENDON Fernando    7      10       12     312         43
39                             SAGAN Peter    6      14       26    1246         43
112                BERNAL GOMEZ Egan Arley    6      11       20     866         39
51                           GREIPEL André    6      10       16     438         46
30                       VAN AVERMAET Greg    5      10       21     785         47
72                      ALAPHILIPPE Julian    5      10       20     932         45
119                         THOMAS Geraint    4      11       15     804         36
27                             KÜNG Stefan    4       7       11     269         40
79                           TERPSTRA Niki    4       6       14     854         37
139                     KRISTOFF Alexander    4       5       23     685         54
60                           HOWSON Damien    4       5        8     140         40
16                         COLBRELLI Sonny    3       8       20     572         44
28                            PORTE Richie    3       8       12     799         40
77                           LAMPAERT Yves    3       8       10     507         38
114                           FROOME Chris    3       4       15     837         41
76                             JUNGELS Bob    3       4       13     572         38
134                           SKUJINS Toms    3       3        7     181         45
14                   SANCHEZ GIL Luis Leon    2      10       23     762         64
63                              YATES Adam    2       9       18     671         33
8                      CORT NIELSEN Magnus    2       6       17     424         47
80                    BOASSON HAGEN Edvald    2       6       12     545         40
40                           DEMARE Arnaud    2       6       10     584         31
4                            GALLOPIN Tony    2       5        9     325         37
31                      VAN GARDEREN Tejay    2       5        9     379         41
113           CASTROVIEJO NICOLAS Jonathan    2       5        7     235         39
94                     URAN URAN Rigoberto    2       4       13     318         27
47                           VICHOT Arthur    2       4       10     341         24
98                           KITTEL Marcel    2       4        9     206         34
130                         DEGENKOLB John    2       4        9     330         33
50                         DE GENDT Thomas    2       4        5     164         49
9                    FRAILE MATARRANZ Omar    2       4        4     225         37
56                              BAUER Jack    2       3        8      82         42
117                             POELS Wout    2       3        7     351         42
58                           HAYMAN Mathew    2       3        3      85         38
15                VALGREN ANDERSEN Michael    2       2        3     627         38
75                        GILBERT Philippe    1       8       10     694         37
18                 IZAGIRRE INSAUSTI Gorka    1       7       20     691         51
10                          FUGLSANG Jakob    1       7       16     786         39
68          QUINTANA ROJAS Nairo Alexander    1       7       14     606         31
0                            BARDET Romain    1       6       17     772         32
120                   ANDERSEN Søren Kragh    1       6       10     199         30
78   RICHEZE ARAQUISTAIN Maximiliano Ariel    1       6        9     132         39
48                            BENOOT Tiesj    1       5       15     803         31
70                      SOLER GIMENEZ Marc    1       5       15     656         44
25                          CARUSO Damiano    1       5       13     414         42
..                                     ...  ...     ...      ...     ...        ...
131                           GOGL Michael    0       1        8     142         37
129                           DE KORT Koen    0       1        6      80         39
26                           GERRANS Simon    0       1        5     109         40
89                         CRADDOCK Lawson    0       1        4     104         44
101                            POLITT Nils    0       1        4     221         33
121                           ARNDT Nikias    0       1        4     118         47
128                         BERNARD Julien    0       1        4      73         40
138                        FERRARI Roberto    0       1        4      49         39
104                          GESINK Robert    0       1        3     244         44
124                              HAGA Chad    0       1        3      63         50
136            ATAPUMA HURTADO Jhon Darwin    0       1        2      41         44
29                           SCHÄR Michael    0       1        1      81         38
53                       MARCZYNSKI Tomasz    0       1        1      29         23
107                      KRUIJSWIJK Steven    0       0        9     362         32
3                            FRANK Mathias    0       0        8     262         52
33                        BURGHARDT Marcus    0       0        6     125         30
88                            CLARKE Simon    0       0        6     115         40
69                  ROJAS GIL Jose Joaquin    0       0        5      88         46
102                             ZABEL Rick    0       0        5      99         37
41                             GAUDU David    0       0        4     155         34
73                            DECLERCQ Tim    0       0        4      49         33
97                      KISERLOVSKI Robert    0       0        4      96         34
103                          ZAKARIN Ilnur    0       0        4     190         34
106                  JANSEN Amund Grøndahl    0       0        4     150         21
143                         TROIA Oliviero    0       0        4      24         33
82             JANSE VAN RENSBURG Reinardt    0       0        3       2         14
84                            RENSHAW Mark    0       0        3      24         34
92                          ROLLAND Pierre    0       0        3     135         43
91                          PHINNEY Taylor    0       0        2     117         34
137                      DURASEK Kristijan    0       0        2      98         18
12                           HANSEN Jesper    0       0        1     145         38
36                              OSS Daniel    0       0        1     138         42
54                          SIEBERG Marcel    0       0        1      74         43
65                         BENNATI Daniele    0       0        1      39         31
66                      ERVITI OLLO Imanol    0       0        1      36         39
86                      THOMSON Jay Robert    0       0        1      35         39
87                          VERMOTE Julien    0       0        1     110         41
93                              SCULLY Tom    0       0        1      25         38
99                         KOCHETKOV Pavel    0       0        1      65         42
108                           MARTENS Paul    0       0        1      42         23
140                          MARCATO Marco    0       0        1     104         47
2                              DOMONT Axel    0       0        0      33         41
11                         GRUZDEV Dmitriy    0       0        0      25         23
17                       HAUSSLER Heinrich    0       0        0      78         24
22                       PELLIZOTTI Franco    0       0        0      25         31
37                         POLJANSKI Pawel    0       0        0      48         44
42                        GUARNIERI Jacopo    0       0        0      20         25
96                             BOSWELL Ian    0       0        0      36         35
126                        TEN DAM Laurens    0       0        0      54         51
142                        SUTHERLAND Rory    0       0        0      10         28

[144 rows x 6 columns]