# This notebook explores results from the 2018 road cycling season

Data<sup>1</sup> include categorized races performed by all riders in World Tour teams<sup>2</sup>. This include 18 teams with a total of 522 riders.
#### The goal is to find features that can predict the general classification top 10 of Tour de France (TdF).  
<sup>1</sup>data is scraped from CQranking  
<sup>2</sup>Pro Continental teams are excluded for now

In [2]:
import pandas as pd
import numpy as np

In [359]:
pd.set_option('max_colwidth', 500)
pd.set_option('display.width', 100)
pd.set_option('display.expand_frame_repr', False)
pd.set_option("display.max_rows", 100)

In [371]:
df_riders = pd.read_csv(r'E:\cycling\cycling\data\riders_2018.csv',encoding='iso-8859-1')
df_rider_results = pd.read_csv(r'E:\cycling\cycling\data\rider_results_2018.csv',encoding='iso-8859-1')

In [361]:
df_riders.head(20)

   team                Rider Date of birth  rank_start  point_start  rank_end  point_end               Comments Country
0   ALM   BAGDONAS Gediminas    26/12/1985       510.0        140.0     317.0      226.0                    NaN     LTU
1   ALM        BAKELANTS Jan    14/02/1986       117.0        472.0     565.0      120.0                    NaN     BEL
2   ALM         BARBIER Rudy    18/12/1992       104.0        506.0     717.0       90.0                    NaN     FRA
3   ALM        BARDET Romain    09/11/1990        30.0       1162.0      14.0     1492.0                    NaN     FRA
4   ALM      BIDARD François    19/03/1992       781.0         80.0     523.0      137.0                    NaN     FRA
5   ALM    BOUCHARD Geoffrey    01/04/1992         NaN          NaN    1140.0       42.0  Trainee as from 31/07     FRA
6   ALM  CHAMPOUSSIN Clément    29/05/1998      2949.0          2.0     978.0       55.0  Trainee as from 31/07     FRA
7   ALM        CHEREL Mikael    17/03/1986       552.0        127.0     492.0      147.0                    NaN     FRA
8   ALM     CHEVRIER Clément    29/06/1992       844.0         70.0    1416.0       25.0                    NaN     FRA
9   ALM     COSNEFROY Benoit    17/10/1995       375.0        191.0     311.0      229.0                    NaN     FRA
10  ALM            DENZ Nico    15/02/1994      1252.0         34.0     264.0      262.0                    NaN     GER
11  ALM       DILLIER Silvan    03/08/1990        72.0        653.0     121.0      498.0                    NaN     SUI
12  ALM          DOMONT Axel    07/08/1990       575.0        122.0    1083.0       45.0                    NaN     FRA
13  ALM      DUMOULIN Samuel    20/08/1980       227.0        284.0     205.0      316.0                    NaN     FRA
14  ALM        DUPONT Hubert    13/11/1980       339.0        210.0     382.0      185.0                    NaN     FRA
15  ALM         DUVAL Julien    27/05/1990       988.0         53.0     587.0      117.0                    NaN     FRA
16  ALM        FRANK Mathias    09/12/1986       156.0        375.0     156.0      398.0                    NaN     SUI
17  ALM        GALLOPIN Tony    24/05/1988        47.0        903.0     108.0      534.0                    NaN     FRA
18  ALM         GASTAUER Ben    14/11/1987       414.0        173.0     704.0       92.0                    NaN     LUX
19  ALM        GAUTIER Cyril    26/09/1987       311.0        224.0     687.0       96.0                    NaN     FRA

In [372]:
df_results = df_rider_results.merge(df_riders,on='Rider',how='inner',suffixes=('_l','_r'))

In [373]:
df_results

             Date                                                                                   Race   Rank               Rider   CQ team Date of birth  rank_start  point_start  rank_end  point_end Comments Country
0       6/10/2018                                                                         Tour de Vendée    23.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
1       4/10/2018                                                                        Paris - Bourges    70.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
2      26/09/2018                                                 World Championships (Innsbruck) I.T.T.    51.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
3      23/09/2018                                                 World Championships (Innsbruck) T.T.T.    15.  BAGDONAS Gediminas    7  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
4      12/09/2018                                                                         GP de Wallonie   107.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
5       1/09/2018                                                               Brussels Cycling Classic    70.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
6      24/08/2018                                                               Tour du Poitou Charentes     6.  BAGDONAS Gediminas   45  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
7      23/08/2018             Tour du Poitou Charentes, Stage 4 : Champagné-Saint-Hilaire - Couhé I.T.T.     9.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
8      23/08/2018                                     Tour du Poitou Charentes, Stage 3 : Gençay - Couhé    20.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
9      22/08/2018                                   Tour du Poitou Charentes, Stage 2 : Segonzac - Melle    15.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
10     21/08/2018                                    Tour du Poitou Charentes, Stage 1 : Jonzac - Cognac    17.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
11     19/08/2018                                                                         BinckBank Tour    49.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
12     19/08/2018                       BinckBank Tour, Stage 7 : Lacs de l'Eau d'Heure - Geraardsbergen    69.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
13     18/08/2018                                       BinckBank Tour, Stage 6 : Riemst (BEL) - Sittard    59.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
14     17/08/2018                                 BinckBank Tour, Stage 5 : Sint-Pieters-Leeuw - Lanaken    65.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
15     16/08/2018                                       BinckBank Tour, Stage 4 : Blankenberge - Ardooie    38.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
16     15/08/2018                                           BinckBank Tour, Stage 3 : Aalter - Antwerpen    23.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
17     14/08/2018                                       BinckBank Tour, Stage 2 : Venray - Venray I.T.T.    67.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
18     13/08/2018                                        BinckBank Tour, Stage 1 : Heerenveen - Bolsward    16.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
19     12/08/2018                                                  European Championships (Glasgow) R.R.    39.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
20      8/08/2018                                                European Championships (Glasgow) I.T.T.    25.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
21     29/07/2018                                                           Ride London - Surrey Classic    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
22     24/06/2018                                       National Championships Lithuania (Gargzdai) R.R.     1.  BAGDONAS Gediminas   30  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
23     22/06/2018                                     National Championships Lithuania (Gargzdai) I.T.T.     1.  BAGDONAS Gediminas   15  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
24      3/06/2018                                                                  Boucles de la Mayenne     5.  BAGDONAS Gediminas   50  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
25      3/06/2018                                      Boucles de la Mayenne, Stage 3 : Congrier - Laval    15.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
26      2/06/2018  Boucles de la Mayenne, Stage 2 : Saint-Aignan-de-Couptrain - Pré-en-Pail-Saint-Samson    13.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
27      1/06/2018                              Boucles de la Mayenne, Stage 1 : Saint-Berthevin - Gorron    10.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
28     31/05/2018                                         Boucles de la Mayenne, Prologue : Laval I.T.T.     8.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
29     26/05/2018                                                                GP de Plumelec-Morbihan    96.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
30     13/05/2018                                                                   4 Jours de Dunkerque    39.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
31      1/05/2018                                           Rund um den Finanzplatz Eschborn - Frankfurt    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
32     15/04/2018                                                                           Tro-Bro Léon    28.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
33      8/04/2018                                                                        Paris - Roubaix    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
34      1/04/2018                                                                   Ronde van Vlaanderen    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
35     28/03/2018                                                                  Dwars door Vlaanderen   106.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
36     25/03/2018                                                                        Gent - Wevelgem   116.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
37     23/03/2018                                                                           E3 Harelbeke    DNF  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
38     18/03/2018                                                        GP de Denain - Porte du Hainaut    14.  BAGDONAS Gediminas   12  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
39     27/02/2018                                                                               Le Samyn     5.  BAGDONAS Gediminas   32  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
40     25/02/2018                                                              Kuurne - Brussel - Kuurne    26.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
41     24/02/2018                                                                  Omloop Het Nieuwsblad    62.  BAGDONAS Gediminas    5  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
42     18/02/2018                                                      Vuelta a Andalucia / Ruta Del Sol    87.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
43     18/02/2018                            Vuelta a Andalucia / Ruta Del Sol, Stage 5 : Barbate I.T.T.    15.  BAGDONAS Gediminas    0  ALM    26/12/1985       510.0        140.0     317.0      226.0      NaN     LTU
44      2/10/2018                                Binche - Chimay - Binche / Mémorial Frank Vandenbroucke    18.       BAKELANTS Jan    5  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
45     12/09/2018                                                                         GP de Wallonie    16.       BAKELANTS Jan    5  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
46      9/09/2018                                                                         GP de Montréal    25.       BAKELANTS Jan   11  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
47      7/09/2018                                                                           GP de Québec    17.       BAKELANTS Jan   19  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
48     26/08/2018                                                                       Deutschland Tour    12.       BAKELANTS Jan   18  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
49     26/08/2018                                         Deutschland Tour, Stage 4 : Lorsch - Stuttgart    11.       BAKELANTS Jan    0  ALM    14/02/1986       117.0        472.0     565.0      120.0      NaN     BEL
...           ...                                                                                    ...    ...                 ...  ...  ...           ...         ...          ...       ...        ...      ...     ...
30448  23/05/2018                                        Giro d'Italia, Stage 17 : Riva del Garda - Iseo   69.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30449  22/05/2018                                     Giro d'Italia, Stage 16 : Trento - Rovereto I.T.T.   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30450  20/05/2018                                           Giro d'Italia, Stage 15 : Tolmezzo - Sappada   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30451  19/05/2018                     Giro d'Italia, Stage 14 : San Vito al Tagliamento - Monte Zoncolan   29.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30452  18/05/2018                            Giro d'Italia, Stage 13 : Ferrara - Nervesa della Battaglia   45.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30453  17/05/2018                                                Giro d'Italia, Stage 12 : Osimo - Imola   43.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30454  16/05/2018                                               Giro d'Italia, Stage 11 : Assisi - Osimo   13.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30455  15/05/2018                                        Giro d'Italia, Stage 10 : Penne - Gualdo Tadino   44.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30456  13/05/2018                           Giro d'Italia, Stage 9 : Pesco Sannita - Gran Sasso d'Italia   62.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30457  12/05/2018                    Giro d'Italia, Stage 8 : Praia a Mare - Montevergine di Mercogliano   16.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30458  11/05/2018                                          Giro d'Italia, Stage 7 : Pizzo - Praia a Mare   44.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30459  10/05/2018                                          Giro d'Italia, Stage 6 : Caltanissetta - Etna   28.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30460   9/05/2018                    Giro d'Italia, Stage 5 : Agrigento - Santa Ninfa (Valle del Belice)   28.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30461   8/05/2018                                         Giro d'Italia, Stage 4 : Catania - Caltagirone   19.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30462   6/05/2018                               Giro d'Italia, Stage 3 : Be'er Sheva (ISR) - Eilat (ISR)   74.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30463   5/05/2018                                  Giro d'Italia, Stage 2 : Tel Aviv (ISR) - Haifa (ISR)   62.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30464   4/05/2018                                        Giro d'Italia, Stage 1 : Jerusalem (ISR) I.T.T.   23.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30465  22/04/2018                                                               Liège - Bastogne - Liège   28.0        ULISSI Diego    8  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30466  18/04/2018                                                                        Flèche Wallonne   14.0        ULISSI Diego   27  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30467  15/04/2018                                                                       Amstel Gold Race   50.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30468   7/04/2018                                                                 Itzulia Basque Country   50.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30469   7/04/2018                                       Itzulia Basque Country, Stage 6 : Eibar - Arrate   48.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30470   6/04/2018                                    Itzulia Basque Country, Stage 5 : Vitoria - Gasteiz   97.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30471   5/04/2018                               Itzulia Basque Country, Stage 4 : Lodosa - Lodosa I.T.T.   58.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30472   4/04/2018                                  Itzulia Basque Country, Stage 3 : Bermeo - Valdegovia   72.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30473   3/04/2018                                     Itzulia Basque Country, Stage 2 : Zarautz - Bermeo   35.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30474   2/04/2018                                    Itzulia Basque Country, Stage 1 : Zarautz - Zarautz   34.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30475  17/03/2018                                                                       Milano - Sanremo  103.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30476  13/03/2018                                                                    Tirreno - Adriatico   22.0        ULISSI Diego   16  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30477  13/03/2018                         Tirreno - Adriatico, Stage 7 : San Benedetto del Tronto I.T.T.   50.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30478  12/03/2018                                           Tirreno - Adriatico, Stage 6 : Numana - Fano   34.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30479  11/03/2018                             Tirreno - Adriatico, Stage 5 : Castelraimondo - Filottrano   20.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30480  10/03/2018                            Tirreno - Adriatico, Stage 4 : Foligno - Sarnano/Sassotetto   33.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30481   9/03/2018                                       Tirreno - Adriatico, Stage 3 : Follonica - Trevi   36.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30482   8/03/2018                                    Tirreno - Adriatico, Stage 2 : Camaiore - Follonica   21.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30483   7/03/2018                                 Tirreno - Adriatico, Stage 1 : Lido di Camaiore T.T.T.    9.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30484   3/03/2018                                                                         Strade Bianche   44.0        ULISSI Diego    5  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30485  25/02/2018                                                                         Abu Dhabi Tour    7.0        ULISSI Diego   70  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA
30486  25/02/2018                                        Abu Dhabi Tour, Stage 5 : Al Ain - Jebel Hafeet    8.0        ULISSI Diego    0  UAD    15/07/1989        18.0       1373.0      57.0      802.0      NaN     ITA

### Clean up the data types

Replace below values  
leader (leader of the stage race): 0  
\- (usually means TTT): nan  
DNF (did not finish): -1  
OOT (out of time): -2  
DNS (did not start): -5  
DQ (disqualified): -10

In [374]:
df_results['Rank'] = df_results['Rank'].replace('leader',0)
df_results['Rank'] = df_results['Rank'].replace('DNF',-1)
df_results['Rank'] = df_results['Rank'].replace('OOT',-2)
df_results['Rank'] = df_results['Rank'].replace('-',np.nan)
df_results['Rank'] = df_results['Rank'].replace('DNS',-5)
df_results['Rank'] = df_results['Rank'].replace('DQ',-10)
df_results['Rank'] = df_results['Rank'].astype(float)

df_results['Date'] = pd.to_datetime(df_results['Date'],format='%d/%m/%Y')

TdF results

In [375]:
df_tdf_gc = df_results.loc[df_results['Race']=='Tour de France',['Rider','Rank','rank_start','point_start']]

In [376]:
df_tdf_gc.head()

               Rider  Rank  rank_start  point_start
128    BARDET Romain   6.0        30.0       1162.0
518   DILLIER Silvan  83.0        72.0        653.0
819    FRANK Mathias  55.0       156.0        375.0
1288   LATOUR Pierre  13.0       124.0        453.0
1420   NAESEN Oliver  66.0        37.0       1019.0

Riders who participated in TdF

In [377]:
tdf_riders = df_tdf_gc.Rider.values

Top ten finishers

In [378]:
top10_riders = df_tdf_gc.loc[df_tdf_gc['Rank'].between(1,10),'Rider'].values

Non top ten finishers

In [379]:
non_top10_riders = list(set(tdf_riders) - set(top10_riders))

Find races before TdF (2018-07-07)

In [380]:
mask = (df_results['Date'] < '2018-07-07')
df_pre_tdf = df_results.loc[mask]

Calculate rider performance in pre-TdF races

In [381]:
points_sum = []
race_days = []
wins = []
podiums = []
top_tens = []
for r in tdf_riders:
    df_r = df_pre_tdf[df_pre_tdf['Rider']==r]
    points_sum.append(df_r['CQ'].sum())
    race_days.append(df_r['Race'].count())
    wins.append(df_r.loc[df_r['Rank']==1,'Race'].count())
    podiums.append(df_r.loc[df_r['Rank'].between(1,3),'Race'].count())
    top_tens.append(df_r.loc[df_r['Rank'].between(1,10),'Race'].count())
   
df_performance = pd.DataFrame(
    {'riders': tdf_riders,
     'win': wins,
     'podium': podiums,
     'top_ten': top_tens,
     'points': points_sum,
     'race_days': race_days,
    },columns=['riders','win','podium','top_ten','points','race_days'])

In [382]:
df_performance.sort_values(by=['win', 'podium','top_ten'],ascending=False).head(10)

                         riders  win  podium  top_ten  points  race_days
56  VALVERDE BELMONTE Alejandro   11      17       26    1600         42
47                  IMPEY Daryl    8      16       19     838         49
83                ROGLIC Primoz    7      14       18     982         37
89           KWIATKOWSKI Michal    7      11       17     805         43
31                  SAGAN Peter    6      14       26    1246         43
86      BERNAL GOMEZ Egan Arley    6      11       20     866         39
22            VAN AVERMAET Greg    5      10       21     785         47
57           ALAPHILIPPE Julian    5      10       20     932         45
92               THOMAS Geraint    4      11       15     804         36
20                  KÜNG Stefan    4       7       11     269         40

In [383]:
df_performance[df_performance['riders'].isin(top10_riders)]

                             riders  win  podium  top_ten  points  race_days
0                     BARDET Romain    1       6       17     772         32
53                LANDA MEANA Mikel    1       4       13     500         33
54   QUINTANA ROJAS Nairo Alexander    1       7       14     606         31
78                    ZAKARIN Ilnur    0       0        4     190         34
81                KRUIJSWIJK Steven    0       0        9     362         32
83                    ROGLIC Primoz    7      14       18     982         37
88                     FROOME Chris    3       4       15     837         41
92                   THOMAS Geraint    4      11       15     804         36
95                     DUMOULIN Tom    1       5       12     646         39
112                   MARTIN Daniel    1       3        8     370         37

### We see that:
1. Many riders with good pre-tdf performance are sprinters like Dylan Groenewegen who will never win a TdF general classification.  
1. TdF top 10 riders don't necessarily perform well in the early season as they are building up towards TdF  

Let's look at Critérium du Dauphiné and Tour de Suisse instead which are TdF preparation races and are good indicators of the form of riders leading up to TdF.

In [6]:
def get_race_performance(race_name,abbrev):
    df_race = df_results.loc[df_results['Race'].str.contains(race_name.decode('utf-8')),:]
    riders = df_race['Rider'].unique()
    points_sum = []
    wins = []
    podiums = []
    top_tens = []
    for r in riders:
        df_r = df_race[df_race['Rider']==r]
        points_sum.append(df_r['CQ'].sum())
        wins.append(df_r.loc[df_r['Rank']==1,'Race'].count())
        podiums.append(df_r.loc[df_r['Rank'].between(1,3),'Race'].count())
        top_tens.append(df_r.loc[df_r['Rank'].between(1,10),'Race'].count())

    df_race_performance = pd.DataFrame(
        {'riders': riders,
         'win': wins,
         'podium': podiums,
         'top_ten': top_tens,
         'points': points_sum,
        },columns=['riders','win','podium','top_ten','points'])
    df_race_performance = df_race_performance.add_suffix('_{}'.format(abbrev))
    return df_race_performance

In [386]:
df_dauphine_perform = get_race_performance('Critérium du Dauphiné','dauphine')
df_swiss_perform = get_race_performance('Tour de Suisse','swiss')

In [387]:
df_dauphine_perform.sort_values(by=['win_dauphine', 'podium_dauphine','top_ten_dauphine'],ascending=False).head(10)

                  riders_dauphine  win_dauphine  podium_dauphine  top_ten_dauphine  points_dauphine
102                THOMAS Geraint             2                5                 6              372
99             KWIATKOWSKI Michal             2                2                 3               99
55                     YATES Adam             1                3                 6              268
120                 MARTIN Daniel             1                3                 5              230
52                    IMPEY Daryl             1                2                 3               81
63             ALAPHILIPPE Julian             1                2                 3               92
100                 MOSCON Gianni             1                2                 3               45
28               ACKERMANN Pascal             1                2                 2               63
97   CASTROVIEJO NICOLAS Jonathan             1                1                 2               17
98             GEOGHEGAN HART Tao             1                1                 2               59

In [388]:
df_swiss_perform.sort_values(by=['win_swiss', 'podium_swiss','top_ten_swiss'],ascending=False).head(10)

                       riders_swiss  win_swiss  podium_swiss  top_ten_swiss  points_swiss
24                     PORTE Richie          2             3              5           337
23                      KÜNG Stefan          2             2              2           105
106            ANDERSEN Søren Kragh          1             3              3            85
34                      SAGAN Peter          1             2              5            90
61   QUINTANA ROJAS Nairo Alexander          1             2              4           209
27               VAN GARDEREN Tejay          1             2              2            34
126                    ULISSI Diego          1             1              5           126
14                  COLBRELLI Sonny          1             1              3            56
26                VAN AVERMAET Greg          1             1              2            19
36                    DEMARE Arnaud          1             1              2            50

We're getting closer to filtering out the actual GC riders like Geraint Thomas but there's still many irrelevant riders.  
Maybe we can use these to predict stage wins... but for GC wins we need to further scrutinize.  
Also, some big contenders like Chris Froome are not doing either race.  

We probably need to figure out how to extract more information e.g. **rider specialty, stage type** etc.  
But for now let's just use these features to see what we can get.

Creating the training data set

In [389]:
df_performance.shape

(115, 6)

In [390]:
df_pre_perform = df_tdf_gc.merge(df_performance,left_on='Rider',right_on='riders',how='left',suffixes=('_l','_r'))
df_pre_perform = df_pre_perform.merge(df_dauphine_perform,left_on='Rider',right_on='riders_dauphine',how='left')
df_pre_perform = df_pre_perform.merge(df_swiss_perform,left_on='Rider',right_on='riders_swiss',how='left')
df_pre_perform['riders_dauphine'].fillna(df_pre_perform['riders_swiss'],inplace=True)
df_pre_perform['win_dauphine'].fillna(df_pre_perform['win_swiss'],inplace=True)
df_pre_perform['podium_dauphine'].fillna(df_pre_perform['podium_swiss'],inplace=True)
df_pre_perform['top_ten_dauphine'].fillna(df_pre_perform['top_ten_swiss'],inplace=True)
df_pre_perform['points_dauphine'].fillna(df_pre_perform['points_swiss'],inplace=True)

In [391]:
df_pre_perform_clean = df_pre_perform.drop(df_pre_perform.columns[-5:],axis=1)
df_pre_perform_clean.drop(['riders','riders_dauphine'],axis=1,inplace=True)
df_pre_perform_clean['tdf_top10'] = (df_pre_perform_clean['Rank'] <= 10).astype(int)
df_pre_perform_clean.dropna(inplace=True)
df_pre_perform_clean.set_index('Rider', inplace=True)

In [392]:
df_pre_perform_clean

                                        Rank  rank_start  point_start  win  podium  top_ten  points  race_days  win_dauphine  podium_dauphine  top_ten_dauphine  points_dauphine  tdf_top10
Rider
BARDET Romain                            6.0        30.0       1162.0    1       6       17     772         32           0.0              2.0               6.0            203.0          1
DILLIER Silvan                          83.0        72.0        653.0    1       3        6     371         38           0.0              0.0               0.0              5.0          0
FRANK Mathias                           55.0       156.0        375.0    0       0        8     262         52           0.0              0.0               1.0             30.0          0
LATOUR Pierre                           13.0       124.0        453.0    1       3       18     601         43           0.0              0.0               5.0            106.0          0
NAESEN Oliver                           66.0        37.0       1019.0    0       2        7     433         41           0.0              0.0               2.0             15.0          0
CORT NIELSEN Magnus                     68.0       112.0        480.0    2       6       17     424         47           0.0              0.0               2.0             13.0          0
FRAILE MATARRANZ Omar                   57.0       257.0        263.0    2       4        4     225         37           0.0              0.0               0.0              5.0          0
FUGLSANG Jakob                          12.0        67.0        703.0    1       7       16     786         39           0.0              2.0               3.0            224.0          0
HANSEN Jesper                           56.0       233.0        279.0    0       0        1     145         38           0.0              0.0               0.0             12.0          0
KANGERT Tanel                           16.0       926.0         58.0    1       1        1     123         44           0.0              0.0               0.0             60.0          0
VALGREN ANDERSEN Michael                44.0       111.0        483.0    2       2        3     627         38           0.0              0.0               0.0             14.0          0
COLBRELLI Sonny                        109.0        33.0       1120.0    3       8       20     572         44           1.0              1.0               3.0             56.0          0
HAUSSLER Heinrich                      125.0       899.0         60.0    0       0        0      78         24           0.0              0.0               0.0              5.0          0
IZAGIRRE INSAUSTI Gorka                 24.0       100.0        530.0    1       7       20     691         51           0.0              1.0               1.0             23.0          0
IZAGIRRE INSAUSTI Ion                   22.0        46.0        904.0    0       5       12     576         51           0.0              0.0               1.0             38.0          0
KOREN Kristjan                         102.0       933.0         57.0    1       1        5      66         40           0.0              0.0               1.0              5.0          0
PELLIZOTTI Franco                       60.0       432.0        166.0    0       0        0      25         31           0.0              0.0               0.0              5.0          0
CARUSO Damiano                          20.0        63.0        747.0    1       5       13     414         42           0.0              1.0               5.0            133.0          0
GERRANS Simon                          107.0       148.0        395.0    0       1        5     109         40           0.0              0.0               0.0              5.0          0
KÜNG Stefan                             53.0        69.0        660.0    4       7       11     269         40           2.0              2.0               2.0            105.0          0
SCHÄR Michael                           90.0       608.0        114.0    0       1        1      81         38           0.0              0.0               0.0              5.0          0
VAN AVERMAET Greg                       28.0         2.0       2381.0    5      10       21     785         47           1.0              1.0               2.0             19.0          0
VAN GARDEREN Tejay                      32.0        70.0        659.0    2       5        9     379         41           1.0              2.0               2.0             34.0          0
BODNAR Maciej                          122.0       271.0        249.0    1       2       10     118         46           0.0              0.0               2.0             17.0          0
BURGHARDT Marcus                        92.0       274.0        248.0    0       0        6     125         30           0.0              0.0               1.0              7.0          0
MÜHLBERGER Gregor                       76.0       219.0        297.0    0       1        9     167         33           0.0              0.0               2.0             20.0          0
OSS Daniel                             112.0       342.0        209.0    0       0        1     138         42           0.0              0.0               0.0              5.0          0
PÖSTLBERGER Lukas                      132.0       145.0        405.0    1       1        2      87         24           0.0              0.0               0.0              5.0          0
SAGAN Peter                             71.0         3.0       2296.0    6      14       26    1246         43           1.0              2.0               5.0             90.0          0
DEMARE Arnaud                          141.0        13.0       1472.0    2       6       10     584         31           1.0              1.0               2.0             50.0          0
GAUDU David                             34.0       169.0        352.0    0       0        4     155         34           0.0              0.0               0.0              5.0          0
GUARNIERI Jacopo                       144.0      1950.0         10.0    0       0        0      20         25           0.0              0.0               0.0              5.0          0
LE GAC Olivier                         127.0       533.0        134.0    1       1        3     127         30           0.0              0.0               0.0              5.0          0
LUDVIGSSON Tobias                       74.0       671.0        100.0    1       2        2      43         21           0.0              0.0               0.0              5.0          0
MOLARD Rudy                             38.0       302.0        227.0    1       4       11     359         41           0.0              0.0               1.0              7.0          0
SINKELDAM Ramon                        134.0       272.0        249.0    1       2        3     182         29           0.0              0.0               1.0              5.0          0
VICHOT Arthur                           41.0        97.0        536.0    2       4       10     341         24           0.0              0.0               4.0             70.0          0
DE BUYST Jasper                        142.0        66.0        710.0    0       2        4     117         37           0.0              0.0               0.0              5.0          0
DE GENDT Thomas                         65.0       146.0        398.0    2       4        5     164         49           0.0              1.0               1.0              4.0          0
MARCZYNSKI Tomasz                      103.0       255.0        263.0    0       1        1      29         23           0.0              1.0               1.0              9.0          0
HEPBURN Michael                        117.0       473.0        151.0    1       3        6      65         40           0.0              0.0               0.0              5.0          0
IMPEY Daryl                             46.0       282.0        242.0    8      16       19     838         49           1.0              2.0               3.0             81.0          0
YATES Adam                              29.0        53.0        847.0    2       9       18     671         33           1.0              3.0               6.0            268.0          0
AMADOR BIKKAZAKOVA Andrey               50.0       297.0        231.0    1       2        4     211         41           0.0              0.0               1.0              5.0          0
BENNATI Daniele                        104.0       337.0        211.0    0       0        1      39         31           0.0              0.0               0.0              5.0          0
ERVITI OLLO Imanol                      77.0       394.0        179.0    0       0        1      36         39           0.0              0.0               1.0              5.0          0
LANDA MEANA Mikel                        7.0        19.0       1336.0    1       4       13     500         33           0.0              0.0               2.0             34.0          1
QUINTANA ROJAS Nairo Alexander          10.0         9.0       1560.0    1       7       14     606         31           1.0              2.0               4.0            209.0          1
SOLER GIMENEZ Marc                      62.0       118.0        472.0    1       5       15     656         44           0.0              0.0               1.0             34.0          0
ALAPHILIPPE Julian                      33.0        39.0       1011.0    5      10       20     932         45           1.0              2.0               3.0             92.0          0
JUNGELS Bob                             11.0        58.0        784.0    3       4       13     572         38           0.0              0.0               2.0             14.0          0
LAMPAERT Yves                           80.0        86.0        578.0    3       8       10     507         38           0.0              2.0               2.0             27.0          0
RICHEZE ARAQUISTAIN Maximiliano Ariel  135.0       176.0        341.0    1       6        9     132         39           0.0              1.0               1.0              4.0          0
TERPSTRA Niki                          119.0       140.0        417.0    4       6       14     854         37           0.0              0.0               1.0              1.0          0
BOASSON HAGEN Edvald                    84.0        28.0       1205.0    2       6       12     545         40           0.0              1.0               1.0             33.0          0
JANSE VAN RENSBURG Reinardt            110.0       222.0        290.0    0       0        3       2         14           0.0              0.0               1.0              2.0          0
SLAGTER Tom-Jelte                       59.0       152.0        393.0    0       3        4     280         45           0.0              1.0               1.0             29.0          0
THOMSON Jay Robert                     143.0       891.0         61.0    0       0        1      35         39           0.0              0.0               0.0              5.0          0
VERMOTE Julien                          75.0       306.0        226.0    0       0        1     110         41           0.0              0.0               0.0              5.0          0
CLARKE Simon                           100.0       431.0        167.0    0       0        6     115         40           0.0              0.0               0.0              5.0          0
CRADDOCK Lawson                        145.0      1733.0         15.0    0       1        4     104         44           0.0              0.0               0.0              5.0          0
PHINNEY Taylor                         136.0      1206.0         36.0    0       0        2     117         34           0.0              0.0               0.0              5.0          0
ROLLAND Pierre                          27.0       182.0        333.0    0       0        3     135         43           0.0              0.0               2.0             90.0          0
VANMARCKE Sep                          115.0        83.0        602.0    0       2        7     491         35           0.0              0.0               1.0              5.0          0
BOSWELL Ian                             79.0       318.0        220.0    0       0        0      36         35           0.0              0.0               0.0              5.0          0
KOCHETKOV Pavel                         61.0      1121.0         42.0    0       0        1      65         42           0.0              0.0               0.0              5.0          0
ZAKARIN Ilnur                            9.0        23.0       1272.0    0       0        4     190         34           0.0              0.0               3.0             73.0          1
KRUIJSWIJK Steven                        5.0        93.0        554.0    0       0        9     362         32           0.0              0.0               3.0             91.0          1
TOLHOEK Antwan                          37.0       373.0        193.0    0       1        8     143         28           0.0              0.0               2.0             60.0          0
CASTROVIEJO NICOLAS Jonathan            70.0        68.0        681.0    2       5        7     235         39           1.0              1.0               2.0             17.0          0
KWIATKOWSKI Michal                      49.0        11.0       1516.0    7      11       17     805         43           2.0              2.0               3.0             99.0          0
ROWE Luke                              128.0       221.0        291.0    1       1        1      39         38           0.0              0.0               0.0              0.0          0
THOMAS Geraint                           1.0        55.0        810.0    4      11       15     804         36           2.0              5.0               6.0            372.0          1
ANDERSEN Søren Kragh                    52.0       113.0        478.0    1       6       10     199         30           1.0              3.0               3.0             85.0          0
ARNDT Nikias                            67.0       166.0        354.0    0       1        4     118         47           0.0              0.0               1.0              5.0          0
GESCHKE Simon                           25.0       572.0        123.0    0       3        6      60         34           0.0              0.0               0.0              5.0          0
TEN DAM Laurens                         51.0       602.0        115.0    0       0        0      54         51           0.0              0.0               0.0              0.0          0
THEUNS Edward                           88.0        74.0        645.0    0       3        8     140         35           0.0              0.0               0.0              5.0          0
BERNARD Julien                          35.0       737.0         87.0    0       1        4      73         40           0.0              0.0               0.0             10.0          0
DE KORT Koen                            78.0       531.0        134.0    0       1        6      80         39           0.0              0.0               0.0              5.0          0
DEGENKOLB John                         111.0        41.0        999.0    2       4        9     330         33           0.0              0.0               1.0              8.0          0
GOGL Michael                           113.0       483.0        147.0    0       1        8     142         37           0.0              0.0               1.0              7.0          0
MOLLEMA Bauke                           26.0        32.0       1129.0    1       3       12     477         41           0.0              0.0               1.0             59.0          0
SKUJINS Toms                            82.0       379.0        190.0    3       3        7     181         45           0.0              0.0               2.0              5.0          0
STUYVEN Jasper                          63.0        34.0       1064.0    0       1       12     615         42           0.0              0.0               2.0             11.0          0
FERRARI Roberto                        138.0       561.0        125.0    0       1        4      49         39           0.0              0.0               0.0              5.0          0
KRISTOFF Alexander                     114.0         5.0       1969.0    4       5       23     685         54           0.0              1.0               2.0             23.0          0
MARTIN Daniel                            8.0        15.0       1393.0    1       3        8     370         37           1.0              3.0               5.0            230.0          1
SUTHERLAND Rory                        106.0       509.0        140.0    0       0        0      10         28           0.0              0.0               0.0              5.0          0
TROIA Oliviero                         133.0       930.0         58.0    0       0        4      24         33           0.0              0.0               0.0              5.0          0

In [393]:
df_X = df_pre_perform_clean.iloc[:,1:-1]
X = np.asarray(df_X)
df_y = pd.DataFrame(df_pre_perform_clean.iloc[:,-1])
y = np.asarray(df_y)

In [394]:
df_X.to_csv('E:\cycling\cycling\data\X_train.csv',encoding='iso-8859-1')
df_y.to_csv('E:\cycling\cycling\data\y_train.csv',encoding='iso-8859-1')

Creating the test data set from 2017 results

In [7]:
df_riders = pd.read_csv(r'E:\cycling\cycling\data\riders_2017.csv',encoding='iso-8859-1')
df_rider_results = pd.read_csv(r'E:\cycling\cycling\data\rider_results_2017.csv',encoding='iso-8859-1')

In [18]:
df_results = df_rider_results.merge(df_riders,on='Rider',how='inner',suffixes=('_l','_r'))

df_results['Rank'] = df_results['Rank'].replace('leader',0)
df_results['Rank'] = df_results['Rank'].replace('DNF',-1)
df_results['Rank'] = df_results['Rank'].replace('OOT',-2)
df_results['Rank'] = df_results['Rank'].replace('-',np.nan)
df_results['Rank'] = df_results['Rank'].replace('DNS',-5)
df_results['Rank'] = df_results['Rank'].replace('DQ',-10)
df_results['Rank'] = df_results['Rank'].astype(float)

df_results['Date'] = pd.to_datetime(df_results['Date'],format='%d/%m/%Y')

df_tdf_gc = df_results.loc[df_results['Race']=='Tour de France',['Rider','Rank','rank_start','point_start']]

tdf_riders = df_tdf_gc.Rider.values

mask = (df_results['Date'] < '2017-07-01')
df_pre_tdf = df_results.loc[mask]

points_sum = []
race_days = []
wins = []
podiums = []
top_tens = []
for r in tdf_riders:
    df_r = df_pre_tdf[df_pre_tdf['Rider']==r]
    points_sum.append(df_r['CQ'].sum())
    race_days.append(df_r['Race'].count())
    wins.append(df_r.loc[df_r['Rank']==1,'Race'].count())
    podiums.append(df_r.loc[df_r['Rank'].between(1,3),'Race'].count())
    top_tens.append(df_r.loc[df_r['Rank'].between(1,10),'Race'].count())
   
df_performance = pd.DataFrame(
    {'riders': tdf_riders,
     'win': wins,
     'podium': podiums,
     'top_ten': top_tens,
     'points': points_sum,
     'race_days': race_days,
    },columns=['riders','win','podium','top_ten','points','race_days'])

df_dauphine_perform = get_race_performance('Critérium du Dauphiné',abbrev='dauphine')
df_swiss_perform = get_race_performance('Tour de Suisse',abbrev='swiss')

df_pre_perform = df_tdf_gc.merge(df_performance,left_on='Rider',right_on='riders',how='left',suffixes=('_l','_r'))
df_pre_perform = df_pre_perform.merge(df_dauphine_perform,left_on='Rider',right_on='riders_dauphine',how='left')
df_pre_perform = df_pre_perform.merge(df_swiss_perform,left_on='Rider',right_on='riders_swiss',how='left')
df_pre_perform['riders_dauphine'].fillna(df_pre_perform['riders_swiss'],inplace=True)
df_pre_perform['win_dauphine'].fillna(df_pre_perform['win_swiss'],inplace=True)
df_pre_perform['podium_dauphine'].fillna(df_pre_perform['podium_swiss'],inplace=True)
df_pre_perform['top_ten_dauphine'].fillna(df_pre_perform['top_ten_swiss'],inplace=True)
df_pre_perform['points_dauphine'].fillna(df_pre_perform['points_swiss'],inplace=True)

df_pre_perform_clean = df_pre_perform.drop(df_pre_perform.columns[-5:],axis=1)
df_pre_perform_clean.drop(['riders','riders_dauphine'],axis=1,inplace=True)
df_pre_perform_clean['tdf_top10'] = (df_pre_perform_clean['Rank'] <= 10).astype(int)
df_pre_perform_clean.dropna(inplace=True)
df_pre_perform_clean.set_index('Rider', inplace=True)

In [19]:
df_pre_perform_clean

,Rank,rank_start,point_start,win,podium,top_ten,points,race_days,win_dauphine,podium_dauphine,top_ten_dauphine,points_dauphine,tdf_top10
Rider,,,,,,,,,,,,,
BAKELANTS Jan,22.0,70.0,636.0,0,1,3,136,33,0.0,0.0,1.0,26.0,0
BARDET Romain,3.0,8.0,1667.0,0,1,13,481,37,0.0,0.0,4.0,120.0,1
DOMONT Axel,68.0,566.0,117.0,0,1,1,69,40,0.0,1.0,1.0,33.0,0
FRANK Mathias,30.0,215.0,297.0,0,0,6,274,42,0.0,0.0,3.0,113.0,0
GAUTIER Cyril,48.0,319.0,222.0,0,1,3,142,39,0.0,0.0,0.0,0.0,0
LATOUR Pierre,29.0,67.0,645.0,1,3,10,339,47,0.0,0.0,1.0,48.0,0
NAESEN Oliver,63.0,68.0,643.0,1,4,17,688,48,0.0,0.0,2.0,8.0,0
VUILLERMOZ Alexis,13.0,124.0,437.0,1,1,1,161,35,0.0,0.0,0.0,18.0,0
ARU Fabio,5.0,50.0,777.0,1,3,12,461,26,0.0,0.0,4.0,135.0,1
GRUZDEV Dmitriy,115.0,421.0,166.0,2,2,3,76,31,0.0,0.0,0.0,5.0,0
KOZHATAYEV Bakhtiyar,93.0,1126.0,38.0,1,1,3,45,31,0.0,0.0,0.0,5.0,0
LUTSENKO Alexey,71.0,81.0,595.0,1,2,2,159,39,0.0,0.0,0.0,5.0,0
VALGREN ANDERSEN Michael,61.0,99.0,541.0,0,0,2,176,44,0.0,0.0,1.0,5.0,0
ARASHIRO Yukiya,109.0,452.0,157.0,0,1,2,41,43,0.0,0.0,0.0,5.0,0
BOLE Grega,143.0,163.0,362.0,0,1,1,66,32,0.0,0.0,0.0,5.0,0
BOZIC Borut,160.0,755.0,77.0,0,0,1,36,28,0.0,0.0,0.0,0.0,0
BRAJKOVIC Janez,45.0,511.0,134.0,0,0,0,37,43,0.0,0.0,0.0,12.0,0
COLBRELLI Sonny,122.0,17.0,1239.0,2,9,20,617,43,0.0,0.0,2.0,13.0,0
GRMAY Tsgabu Gebremaryam,73.0,616.0,106.0,1,1,3,161,57,0.0,0.0,0.0,12.0,0
MORENO BAZAN Javier,119.0,422.0,166.0,0,0,2,64,32,0.0,0.0,0.0,5.0,0
CARUSO Damiano,11.0,157.0,368.0,1,4,17,529,51,0.0,3.0,6.0,275.0,0
DE MARCHI Alessandro,99.0,355.0,198.0,1,1,2,52,42,0.0,0.0,0.0,5.0,0
KÜNG Stefan,79.0,315.0,225.0,4,7,8,276,40,0.0,2.0,2.0,72.0,0
MOINARD Amaël,32.0,425.0,165.0,0,0,0,47,38,0.0,0.0,0.0,5.0,0
ROCHE Nicolas,33.0,90.0,561.0,1,2,3,93,41,0.0,0.0,0.0,5.0,0
SCHÄR Michael,72.0,293.0,237.0,1,1,1,64,35,0.0,0.0,0.0,6.0,0
VAN AVERMAET Greg,58.0,4.0,2279.0,9,14,20,1667,47,0.0,0.0,0.0,5.0,0
WYSS Danilo,81.0,438.0,160.0,0,0,1,33,43,0.0,0.0,0.0,5.0,0
BODNAR Maciej,116.0,176.0,344.0,0,1,3,63,35,0.0,0.0,0.0,5.0,0
BUCHMANN Emanuel,15.0,207.0,306.0,0,2,13,416,38,0.0,0.0,4.0,115.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
MARTIN Tony,101.0,66.0,657.0,2,6,9,311,35,0.0,1.0,1.0,33.0,0
POLITT Nils,95.0,270.0,254.0,0,1,7,168,39,0.0,0.0,0.0,5.0,0
ZABEL Rick,145.0,484.0,146.0,0,2,5,164,41,0.0,0.0,0.0,5.0,0
MARTENS Paul,82.0,583.0,113.0,0,0,3,155,46,0.0,0.0,0.0,5.0,0
FROOME Chris,1.0,2.0,2552.0,0,3,10,270,27,0.0,1.0,4.0,156.0,1
KNEES Christian,144.0,923.0,56.0,0,0,0,30,31,0.0,0.0,0.0,5.0,0
KWIATKOWSKI Michal,57.0,78.0,611.0,3,9,15,1036,39,0.0,0.0,0.0,5.0,0
NIEVE ITURRALDE Mikel,14.0,122.0,442.0,0,1,4,144,38,0.0,0.0,3.0,81.0,0
ROWE Luke,167.0,203.0,315.0,1,2,5,271,39,0.0,0.0,0.0,0.0,0
ARNDT Nikias,84.0,135.0,409.0,1,1,3,230,33,0.0,0.0,0.0,5.0,0
BARGUIL Warren,10.0,76.0,613.0,0,0,4,245,35,0.0,0.0,0.0,6.0,1
CURVERS Roy,142.0,613.0,106.0,0,0,0,35,37,0.0,0.0,0.0,5.0,0
MATTHEWS Michael,69.0,18.0,1234.0,2,3,16,522,37,1.0,1.0,5.0,77.0,0
SINKELDAM Ramon,148.0,490.0,142.0,2,3,7,207,40,0.0,0.0,0.0,5.0,0
TEUNISSEN Mike,129.0,584.0,113.0,0,0,1,85,37,0.0,0.0,0.0,5.0,0
TIMMER Albert,157.0,1032.0,45.0,1,3,3,47,35,0.0,0.0,0.0,5.0,0
CONTADOR VELASCO Alberto,9.0,7.0,1698.0,0,10,19,881,43,0.0,0.0,3.0,62.0,1
DE KORT Koen,70.0,563.0,117.0,0,0,1,70,45,0.0,0.0,0.0,5.0,0
DEGENKOLB John,121.0,97.0,550.0,1,9,22,834,43,0.0,1.0,2.0,25.0,0
GOGL Michael,146.0,336.0,208.0,0,1,3,127,42,0.0,0.0,0.0,5.0,0
IRIZAR ARANBURU Markel,135.0,968.0,51.0,0,0,0,20,42,0.0,0.0,0.0,5.0,0
PANTANO GOMEZ Jarlinson,46.0,65.0,674.0,1,3,5,250,43,0.0,0.0,0.0,0.0,0
ZUBELDIA AGIRRE Haimar,52.0,384.0,182.0,0,0,2,84,43,0.0,0.0,0.0,5.0,0
ATAPUMA HURTADO Jhon Darwin,41.0,60.0,732.0,0,0,1,107,25,0.0,0.0,0.0,5.0,0
BONO Matteo,111.0,705.0,85.0,0,0,0,20,30,0.0,0.0,0.0,5.0,0
DURASEK Kristijan,50.0,588.0,111.0,1,1,1,41,40,0.0,0.0,0.0,0.0,0
LAENGEN Vegard Stake,127.0,472.0,152.0,0,0,2,168,42,0.0,0.0,0.0,5.0,0
MEINTJES Louis,8.0,95.0,551.0,0,1,5,264,45,0.0,1.0,2.0,108.0,1
SWIFT Ben,83.0,77.0,612.0,0,1,8,166,44,0.0,1.0,3.0,35.0,0
ULISSI Diego,39.0,9.0,1574.0,1,4,14,545,51,0.0,1.0,1.0,29.0,0

In [352]:
df_pre_perform_clean[df_pre_perform_clean['tdf_top10']==1]

                          Rank  rank_start  point_start  win  podium  top_ten  points  race_days  win_dauphine  podium_dauphine  top_ten_dauphine  points_dauphine  tdf_top10
Rider
BARDET Romain              3.0         8.0       1667.0    1       4       23    1151         81           0.0              0.0               4.0            120.0          1
ARU Fabio                  5.0        50.0        777.0    2       6       25    1268         76           0.0              0.0               4.0            135.0          1
YATES Simon                7.0        72.0        621.0    3       4       14     828         82           0.0              0.0               0.0             48.0          1
MARTIN Daniel              6.0        30.0        993.0    1      11       29    1383         62           0.0              2.0               3.0            193.0          1
FROOME Chris               1.0         2.0       2552.0    4      16       34    2592        105           0.0              1.0               4.0            156.0          1
BARGUIL Warren            10.0        76.0        613.0    2       4       12     710         69           0.0              0.0               0.0              6.0          1
CONTADOR VELASCO Alberto   9.0         7.0       1698.0    1      13       33    1494         87           0.0              0.0               3.0             62.0          1
MEINTJES Louis             8.0        95.0        551.0    0       1       10     616         91           0.0              1.0               2.0            108.0          1

In [355]:
df_X = df_pre_perform_clean.iloc[:,1:-1]
X = np.asarray(df_X)
df_y = pd.DataFrame(df_pre_perform_clean.iloc[:,-1])
y = np.asarray(df_y)
df_X.to_csv('E:\cycling\cycling\data\X_test.csv',encoding='iso-8859-1')
df_y.to_csv('E:\cycling\cycling\data\y_test.csv',encoding='iso-8859-1')

In [357]:
df_y

                               tdf_top10
Rider
BAKELANTS Jan                          0
BARDET Romain                          1
DOMONT Axel                            0
FRANK Mathias                          0
GAUTIER Cyril                          0
LATOUR Pierre                          0
NAESEN Oliver                          0
VUILLERMOZ Alexis                      0
ARU Fabio                              1
GRUZDEV Dmitriy                        0
KOZHATAYEV Bakhtiyar                   0
LUTSENKO Alexey                        0
VALGREN ANDERSEN Michael               0
ARASHIRO Yukiya                        0
BOLE Grega                             0
BOZIC Borut                            0
BRAJKOVIC Janez                        0
COLBRELLI Sonny                        0
GRMAY Tsgabu Gebremaryam               0
MORENO BAZAN Javier                    0
CARUSO Damiano                         0
DE MARCHI Alessandro                   0
KÜNG Stefan                            0
MOINARD Amaël                          0
ROCHE Nicolas                          0
SCHÄR Michael                          0
VAN AVERMAET Greg                      0
WYSS Danilo                            0
BODNAR Maciej                          0
BUCHMANN Emanuel                       0
BURGHARDT Marcus                       0
MCCARTHY Jay                           0
BETTIOL Alberto                        0
BEVIN Patrick                          0
BROWN Nathan                           0
CLARKE Simon                           0
PHINNEY Taylor                         0
TALANSKY Andrew                        0
VAN BAARLE Dylan                       0
CIMOLAI Davide                         0
LE GAC Olivier                         0
BENOOT Tiesj                           0
DE GENDT Thomas                        0
GALLOPIN Tony                          0
ROELANDTS Jürgen                       0
BETANCUR GOMEZ Carlos Alberto          0
CASTROVIEJO NICOLAS Jonathan           0
ERVITI OLLO Imanol                     0
HERRADA LOPEZ Jesus                    0
SÜTTERLIN Jasha                        0
...                                  ...
HOWSON Damien                          0
IMPEY Daryl                            0
KEUKELEIRE Jens                        0
KREUZIGER Roman                        0
YATES Simon                            1
BAUER Jack                             0
BRAMBILLA Gianluca                     0
MARTIN Daniel                          1
STYBAR Zdenek                          0
VERMOTE Julien                         0
BOASSON HAGEN Edvald                   0
JANSE VAN RENSBURG Reinardt            0
PAUWELS Serge                          0
THWAITES Scott                         0
VENTER Jaco                            0
HALLER Marco                           0
HOLLENSTEIN Reto                       0
KRISTOFF Alexander                     0
LAMMERTINK Maurits                     0
MACHADO Tiago Jose Pinto               0
MARTIN Tony                            0
POLITT Nils                            0
ZABEL Rick                             0
MARTENS Paul                           0
FROOME Chris                           1
KNEES Christian                        0
KWIATKOWSKI Michal                     0
NIEVE ITURRALDE Mikel                  0
ROWE Luke                              0
ARNDT Nikias                           0
BARGUIL Warren                         1
CURVERS Roy                            0
MATTHEWS Michael                       0
SINKELDAM Ramon                        0
TEUNISSEN Mike                         0
TIMMER Albert                          0
CONTADOR VELASCO Alberto               1
DE KORT Koen                           0
DEGENKOLB John                         0
GOGL Michael                           0
IRIZAR ARANBURU Markel                 0
PANTANO GOMEZ Jarlinson                0
ZUBELDIA AGIRRE Haimar                 0
ATAPUMA HURTADO Jhon Darwin            0
BONO Matteo                            0
DURASEK Kristijan                      0
LAENGEN Vegard Stake                   0
MEINTJES Louis                         1
SWIFT Ben                              0
ULISSI Diego                           0

[103 rows x 1 columns]